<!--page-content-->
<div id="PMS0860060_body">
    <div class="col-xs-12">
        <div class="row">
            <%-include('../programInfoTheme', {prg_id:  prg_id })%>
        </div>
    </div>
    <input type="hidden" id="prg_id" value="<%= prg_id %>" style="border: 0px">
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 業務員組別設定 Page-->
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-11">
                <div class="row no-margin-right">
                    <div class="col-xs-6">
                        <div class="row no-margin-right">
                            <div id="areaTree"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div>
                                <!-- 業務員組別 dataGrid -->
                                <table id="PMS0860060-table" class="gridTableHt"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth" @click="addNode"
                                        role="button"><%= __("SystemCommon").Add %></button>
                            </li>
                            <li>
                                <button class="btn btn-danger btn-white btn-defaultWidth" @click="delNode"
                                        role="button"><%= __("SystemCommon").Delete %></button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth" @click="renameNode"
                                        role="button"><%= __("SystemCommon").Modify %></button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button" @click="doSave"><%= __("SystemCommon").Save %></button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button" style="display: none;">Change Log</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>
</div><!-- /.page-content -->

<!-- jsTree -->
<script src="/js/tree/jstree.min.js"></script>

<script src="/js/setup/PMS0860060_setup.js"></script>