<div class="row" id="app-PMS0810050">
    <div class="col-xs-12 col-sm-12">
        <div class="col-sm-11 col-xs-11">
            <div class="row">
                <%-include('../programInfoTheme', {prg_id:  prg_id })%>
            </div>

            <div class="row no-margin-right" v-loading="isLoading">

                <el-tabs v-model="gs_active" @tab-click="doChangeTraff">
                    <el-tab-pane label="<%= __("program")["PMS0810050"]["pick_up"] %>" name="pickup">
                    </el-tab-pane>
                    <el-tab-pane label="<%= __("program")["PMS0810050"]["drop_off"] %>" name="dropoff">
                    </el-tab-pane>
                </el-tabs>

                <div id="pickupPanel" v-show="gs_active=='pickup'" class="easyui-panel">
                    <table id="pick_up_dg" class="dtTableSetupHt"></table>
                </div>
                <div id="dropoffPanel" v-show="gs_active=='dropoff'" class="easyui-panel">
                    <table id="drop_off_dg" class="dtTableSetupHt"></table>
                </div>

            </div>
        </div>

        <div class="col-xs-1 col-sm-1">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <li>
                            <button id="ins-btn" :disabled="saving" class="btn btn-primary btn-white btn-defaultWidth"
                                    @click="doAppendRow" role="button">
                                <%= __("program")["PMS0810050"].Add %>
                            </button>
                        </li>
                        <li>
                            <button id="remove-btn" :disabled="saving"
                                    class="btn btn-danger btn-white btn-defaultWidth"
                                    @click="doRemoveRow();" role="button">

                                <%= __("program")["PMS0810050"].Delete %>
                            </button>
                        </li>
                        <li>
                            <button id="save-btn" :disabled="saving" class="btn btn-primary btn-white btn-defaultWidth"
                                    @click="doSave();" role="button">
                                <%= __("SystemCommon").Save %>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- subSystem 共用 js -->
<%- include ../../common/viewsComJs.ejs %>
<!--  /.End subSystem 共用 js  -->

<script src="/js/setup/PMS0810050_setup.js"></script>