<div id="app-PMS0820030">

    <div class="col-xs-12">
        <div class="row">
            <%-include('../programInfoTheme', {prg_id:  prg_id })%>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">
                    <div class="" style="padding: 0; box-sizing: border-box;">
                        <table id="PMS0820030_prg_dg" class="prg_dgHt"></table>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button id="save-btn" :disabled="saving" class="btn btn-primary btn-white btn-defaultWidth"
                                        @click="loadDefaultColor"
                                        role="button">
                                    <%=__("program").PMS0820030.load_default_color%>
                                </button>
                            </li>
                            <li>
                                <button id="save-btn" :disabled="saving" class="btn btn-primary btn-white btn-defaultWidth"
                                        @click="copyColor"
                                        role="button">
                                    <%=__("program").PMS0820030.copy_color%>
                                </button>
                            </li>
                            <li>
                                <button id="save-btn" :disabled="saving" class="btn btn-primary btn-white btn-defaultWidth"
                                        @click="pasteColor"
                                        role="button">
                                    <%=__("program").PMS0820030.paste_color%>
                                </button>
                            </li>
                            <li>
                                <button id="save-btn" :disabled="saving" class="btn btn-primary btn-white btn-defaultWidth"
                                        @click="doSave();"
                                        role="button">
                                    <%=__("SystemCommon").Save%>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.col-sm-12 -->

</div>
<div type="hidden" id="gridEdit" name="gridEdit"></div>
<div class="clearfix"></div>
<script type="text/javascript">
    var gs_prg_id = '<%= prg_id %>';
</script>


<script src="/js/webInit/initResizeHt.js"></script>
<script src="/js/setup/PMS0820030_setup.js"></script>
