<div id="GSApp" v-loading="isLoading">
    <div class="col-xs-12">
        <div class="row">
            <%-include('../programInfoTheme', {prg_id:  prg_id })%>
        </div>
    </div>
    <input type="hidden" id="prg_id" value="<%= prg_id %>" style="border: 0px">
    <!--<div class="row" style="margin-left: -5px;">-->

    <!-- 查詢 -->
    <search-comp
            :search-fields="searchFields"
            :search-cond.sync="searchCond"
            :fetch-data="loadDataGridByPrgID">
    </search-comp>

    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">
                    <table id="PMS0820020_dg" class="prg_dgHt_searchRow2"></table>
                </div>
            </div>

            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button id="ins-btn" @click="appendRow"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">
                                    <%= __("SystemCommon").Add %>
                                </button>
                            </li>

                            <li>
                                <button id="ins-btn" @click="batchappendRow"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">
                                    <%= __("program")["PMS0820020"]["batch_add"] %>
                                </button>
                            </li>

                            <li>
                                <button id="ins-btn" @click="showRmList"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">
                                    <%= __("program")["PMS0820020"]["roomList"] %>
                                </button>
                            </li>

                            <li>
                                <button id="ins-btn" @click="showRoomSortDialog('')"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">
                                    <%= __("program")["PMS0820020"]["sortRoom"] %>
                                </button>
                            </li>

                            <li>
                                <button id="remove-btn" @click="removeRow"
                                        class="btn btn-danger btn-white btn-defaultWidth"
                                        role="button">
                                    <%= __("SystemCommon").Delete %>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- -->
    <!--</div>-->
    <div class="clearfix"></div>

    <single-grid-pms0820020-tmp
            @close-single-grid-dialog="closeSingleGridDialog"
            @append-row="appendRow"
            @fetch-single-data="fetchSingleData"
            @do-save-cud="doSaveCUD"
            :single-data="singleData"
            :page-two-field-data="pageTwoFieldData"
            :page-two-data-grid-field-data="pageTwoDataGridFieldData"
            :create-status="createStatus"
            :edit-status="editStatus"
            :delete-status="deleteStatus"
            :editing-row="editingRow"
            :page-one-data-grid-rows="pageOneDataGridRows"
            :tmp-cud="tmpCud"
            :is-modifiable="isModifiable"
            :room-list-dialog-visiable="roomListDialogVisiable">
    </single-grid-pms0820020-tmp>

    <text-select-grid-dialog-tmp></text-select-grid-dialog-tmp>

    <field-multi-lang-dialog-tmp
            :sys_locales="sys_locales"
            :single-data="singleData">
    </field-multi-lang-dialog-tmp>

    <el-dialog title="<%= __("program")["PMS0820020"].sortRoom %>" :visible="showRoomSortDialogVisiable" :show-close="false">
        <table class="horizTable" width="100%" border="0">
            <tr class="css_tr">
                <td class="css_td">
                    <input type="radio" id="sort_typ" value="0" v-model="sort_typ"> <%= __("program")["PMS0820020"].sort_by_room_nos %>
                </td>
                <td clas="css_td" style="float: right;"><button size="small" @click="reSortByTyp"><%= __("program")["PMS0820020"].reSortByTyp %></button></td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">
                    <input type="radio" id="sort_typ" value="1" v-model="sort_typ"> <%= __("program")["PMS0820020"].sort_by_room_nos_leng %>
                </td>
            </tr>
            <tr class="css_tr">
                <td class="css_td">
                    <input type="radio" id="sort_typ" value="2" v-model="sort_typ"> <%= __("program")["PMS0820020"].sort_by_build_nos %>
                </td>
            </tr>
        </table>
        <br>
        <div class="fixHeadTable" width="100％;">
            <div class="tbl-header02">
                <table class="custab">
                    <thead class="custab-head">
                        <tr>
                            <th class="width-60"><%= __("program")["PMS0820020"].room_nos %></th>
                            <th class="width-40"><%= __("program")["PMS0820020"].display_sort %></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content02" style="height: 300px;">
                <table class=" custab">

                    <tbody class="custab-body" style="height: 250px; overflow-y: auto;">

                    <tr class="css_tr" v-for="(item, index) in roomSortData">
                        <td class="width-60">{{item.room_nos}} {{testData}}</td>
                        <td class="width-40">
                            <button type="button" size="small" class="el-icon-caret-top"
                                    @click="itemMove(index, index-1)" v-if="index != 0">
                            </button>
                            <button type="button" size="small" class="el-icon-caret-bottom"
                                    @click="itemMove(index, index+1)"
                                    v-if="index != roomSortData.length-1">
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-row>
                <el-col :span="12" :offset="3">
                    <el-button :disabled="isAction"
                            @click="showRoomSortDialogVisiable = false"><%= __("SystemCommon").Cancel %></el-button>
                    <el-button :disabled="isAction" type="primary" @click="roomSortSave"><%= __("SystemCommon").Save %></el-button>
                </el-col>
            </el-row>
        </div>
    </el-dialog>

    <rm-list
            :room-list-data="roomListData"
            :room-total="roomTotal">
    </rm-list>

</div>

<!-- settingSingleDialog-message 彈出視窗 -->
<%- include ../vueTemplate/chooseDataDialogTmp.ejs %>
<%- include ../vueTemplate/PMS0820020Tmp.ejs %>
<%- include ../vueTemplate/fieldmultiLangDialogTmp.ejs %>
<%- include ../vueTemplate/searchTmp.ejs %>
<%- include ../vueTemplate/PMS0820020RmListTmp.ejs %>

<script src="/js/base/webInit/initResizeHt.js"></script>
<script src="/js/setup/vueCompLib/searchComp.js"></script>
<script src="/js/base/easyUI/DatagridForSingleGridClass.js"></script>
<script src="/js/setup/common/UIFieldAttrClass.js"></script>
<script src="/js/setup/PMS0820020_setup.js"></script>