
<!--page-content-->
<div id="app">
    <div class="col-xs-12">
        <div class="row">
            <%-include('../programInfoTheme', {prg_id:  prg_id })%>
        </div>
    </div>
    <input type="hidden" id="prg_id" value="<%= prg_id %>" style="border: 0px">
    <!-- 區域別設定 Page-->
    <div class="row">
        <div class="col-xs-12">
            <!--<div class="blockSetting-heading">查詢結果</div>-->
            <div class="col-sm-11 col-xs-11">

                <div id="areaTree" class="demo"></div>
                <div class="row no-margin-right">

                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth" @click="addNode"
                                        role="button"><%= __("SystemCommon").Add %></button>
                            </li>
                            <li>
                                <button class="btn btn-danger btn-white btn-defaultWidth" @click="delNode"
                                        role="button"><%= __("SystemCommon").Delete %></button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth" @click="renameNode"
                                        role="button"><%= __("SystemCommon").Modify %></button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button" @click="doSave"><%= __("SystemCommon").Save %></button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button" style="display:none">異動紀錄</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>
</div><!-- /.page-content -->

<!-- jsTree -->
<script src="/js/base/tree/jstree.min.js"></script>

<script src="/js/setup/PMS0860030_setup.js"></script>