<link rel="stylesheet" href="/css/setup/gridSingle.css">
<div id="PMS0810190App">
    <div class="col-xs-12">
        <div class="row">
            <label id="prg_Id" class="prg_idLbH3"><%= prg_id %></label>
        </div>
    </div>
    <single-grid-pms0810190-tmp
            :is-edit-status="isEditStatus"
            :is-create-status="isCreateStatus"
            :single-data="singleData"
            :use-cod-list="useCodList"
            :tmp-c-u-d="tmpCUD"
            :editing-row="editingRow"
            :lo_format-error="lo_formatError"
    :page-one-data-grid-rows="pageOneDataGridRows">

    </single-grid-pms0810190-tmp>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-11 col-sm-11">
                <div class="row no-margin-right">
                    <table id="PMS0810190_dg" class="dtTableSetupHt"></table>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button id="ins-btn" :disabled="isSaving" class="btn btn-primary btn-white btn-defaultWidth"
                                        @click="addData"
                                        role="button">
                                    <%= __("SystemCommon").Add %>
                                </button>
                            </li>
                            <li>
                                <button id="remove-btn" :disabled="isSaving"
                                        class="btn btn-danger btn-white btn-defaultWidth"
                                        @click="removeMultiData();"
                                        role="button">
                                    <%= __("SystemCommon").Delete %>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.col-sm-12 -->
    <div class="clearfix"></div>
</div>

<div type="hidden" id="gridEdit" name="gridEdit"></div>
<div class="clearfix"></div>
<script type="text/javascript">
    var gs_prg_id = '<%= prg_id %>';
</script>
<%- include ../vueTemplate/PMS0810190Tmp.ejs %>


<script src="/js/initResizeHt.js"></script>
<script src="/js/CursorInsertText.js"></script>
<script src="/js/setup/PMS0810190_setup.js"></script>
