<!--page-content-->
<style>
    .pagination-page-list {
        width: 40px;
    }
</style>
<div id="PMS0610010App">
    <div >
        <div class="page-header"></div><!-- /.page-header -->
        <!-- 商務公司(Accounts) Page-->
        <div class="pageMain" v-loading="isLoading" element-loading-text="Loading...">
            <search-comp
                    :search-fields="searchFields"
                    :search-cond.sync="searchCond"
                    :fetch-data="loadDataGridByPrgID"
            ></search-comp>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 businessCompanyData">
                <!--多筆 商務公司 dataGrid -->
                <div class="col-xs-11 col-sm-11">
                    <div class="row no-margin-right">
                        <div>
                            <table id="PMS0610010_dg" class="gridTableHt"></table>
                        </div>
                    </div>
                </div>
                <!--/.多筆 商務公司 dataGrid -->
                <!--按鈕-->
                <div class="col-xs-1 col-sm-1">
                    <div class="row">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth sales-AccountMain purview_btn"
                                            role="button" @click="appendRow" data-purview_func_id="PMS06100100200"><%= __("SystemCommon")["Add"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth sales-AccountMain purview_btn"
                                            role="button" @click="editRow" data-purview_func_id="PMS06100100400"><%= __("SystemCommon")["Modify"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth btn-skin"
                                            role="button"><%= __("program")["PMS0610010"]["save_as"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth purview_btn"
                                            role="button" @click="doEditSalesClerk" data-purview_func_id="PMS06100101010"><%= __("program")["PMS0610010"]["sales_assign"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth purview_btn"
                                            role="button" @click="addVisitPlan" data-purview_func_id="PMS06100101020"><%= __("program")["PMS0610010"]["visit_plan"] %>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/.按鈕-->
            </div>
        </div>
    </div>
    <!--商務公司資料編輯-->
    <pms0610020
            :row-data="editingRow"
            :is-modifiable="isModifiable"
            :is-create-status="isCreateStatus"
            :is-edit-status="isEditStatus"
    ></pms0610020>
    <!--Status chg-->
    <el-dialog
            :close-on-click-modal="true" :show-close="false" title=" <%= __("program").PMS0610020.company_status %>"
            :visible.sync="isOpenCompanyStatus" style="width: 43%; left: 30%;" :before-close="doCloseCompanyStatusDialog">
        <div class="businessCompanyData">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-10 col-xs-10">
                        <div class="row billInfo no-margin-right">
                            <div class="content">
                                <div class="space-6"></div>
                                <div class="grid-item">
                                    <label>Status</label>
                                    <select class="input-medium medium-c1">
                                        <option value="1">Delete</option>
                                        <option value="2">Normal</option>
                                        <option value="3">Black</option>
                                        <option value="4">Potential</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button" @click="doSaveCompanyStatus">
                                            <%= __("SystemCommon").Save %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-danger btn-white btn-defaultWidth"
                                                role="button" @click="doCloseCompanyStatusDialog">
                                            <%= __("SystemCommon").Leave %>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </el-dialog>
    <!--/.Status chg -->
    <!--合約狀態變更-->
    <el-dialog
            :close-on-click-modal="true" :show-close="false" title=" <%= __("program").PMS0610020.contract_status %>"
            :visible.sync="isOpenContractStatus" style="width: 53%; left: 25%;" :before-close="doCloseContractStatusDialog">
        <div class="businessCompanyData">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-10 col-xs-10">
                        <div class="row billInfo no-margin-right">
                            <div class="grid-item">
                                <label>狀態</label>
                                <select class="input-medium medium-c1">
                                    <option value="-1">代碼-狀態說明</option>
                                    <option value="1">01-確認中</option>
                                    <option value="2">02-已下單</option>
                                    <option value="3">03-待簽回</option>
                                    <option value="4">04-已收訂金</option>
                                    <option value="5">05-取消</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="space-6"></div>
                            <div class="main-content-data borderFrame">
                                <div class="horizTable-outer">
                                    <table class="css_table horizTable">
                                        <tbody class="custab-body" style="height: 250px; overflow-y: auto;">
                                        <thead class="css_thead">
                                        <tr class="css_tr">
                                            <th class="css_th" style="min-width:100px;">狀態</th>
                                            <th class="css_th" style="min-width:150px;">異動時間</th>
                                            <th class="css_th" style="min-width:115px;">異動者</th>
                                        </tr>
                                        </thead>
                                        <tbody class="css_tbody">
                                        <tr class="css_tr">
                                            <td class="css_td">待簽回</td>
                                            <td class="css_td">2017/11/15 13:42:14</td>
                                            <td class="css_td">cio</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td">確認中</td>
                                            <td class="css_td">2017/11/15 13:42:14</td>
                                            <td class="css_td">cio</td>
                                        </tr>
                                        <tr class="css_tr">
                                            <td class="css_td">已簽約</td>
                                            <td class="css_td">2017/11/15 13:42:14</td>
                                            <td class="css_td">cio</td>
                                        </tr>
                                        </tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth"
                                                role="button" @click="doSaveContractStatus">
                                            <%= __("SystemCommon").Save %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-danger btn-white btn-defaultWidth"
                                                role="button" @click="doCloseContractStatusDialog">
                                            <%= __("SystemCommon").Leave %>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </el-dialog>
    <!--合約狀態變更-->
    <!--/.商務公司資料編輯-->
    <!--業務員指派-->
    <edit-sales-clerk
            :edit-rows="editRows"
            :is-edit-sales-clerk="isEditSalesClerk"
            :is-create-status="isCreateStatus"
            :is-edit-status="isEditStatus"
    ></edit-sales-clerk>
    <!--/.業務員指派-->
    <!--拜訪計畫-->
    <visit-plan
            :edit-rows="editRows"
            :is-visit-plan="isVisitPlan"
    ></visit-plan>
    <!--/.拜訪計畫-->
    <!--異動紀錄-->
    <el-dialog
            title=" <%= __("SystemCommon").ChangeLog %>" :close-on-click-modal="true" :show-close="false"
            :visible.sync="openChangeLogDialog" size="large" class="openChangeLogDialog">
        <div class="col-xs-12">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="fixHeadTable">
                        <div class="tbl-header02">
                            <table class=" custab">
                                <thead class="custab-head">
                                <tr>
                                    <th class="width-15 text-center"><%= __("SystemCommon")["Time"] %></th>
                                    <th class="width-10 text-center"><%= __("SystemCommon")["User"] %></th>
                                    <th class="width-15 text-center"><%= __("SystemCommon")["Action_type"] %></th>
                                    <th class="width-20 text-center"><%= __("SystemCommon")["Desciption_Mn"] %></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content02" style="height: 300px;">
                            <table class="custab">
                                <tbody class="custab-body" style="height: 250px; overflow-y: auto;">
                                <tr v-for="logData in allChangeLogList">
                                    <td class="width-15">{{logData.event_time}}</td>
                                    <td class="width-10">{{logData.user}}</td>
                                    <td class="width-15">
                                        <span v-for="keyData in logData.keys">{{keyData}}<br></span>
                                    </td>
                                    <td class="width-20">
                                        <div class="blue bold" style="text-transform: capitalize;">
                                            {{logData.action}}
                                        </div>
                                        <span v-for="mnData in logData.desc_mn">
                                                {{mnData.field_name}} :
                                                {{mnData.oldVal}}
                                                <span v-if="logData.action == 'update'"> →  </span>
                                                {{mnData.newVal}}
                                                <br>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
        <span slot="footer" class="dialog-footer">
             <el-button @click="openChangeLogDialog = false"><%= __("SystemCommon.OK") %></el-button>
        </span>
    </el-dialog>
    <!--/.異動紀錄-->
</div><!-- /.page-content -->

<script src="/js/sales/PMS0610010.main.js"></script>

