<!--page-content-->
<div id="PMS0610010App">
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 商務公司(Accounts) Page-->
    <div class="pageMain">
        <search-comp
                :search-fields="searchFields"
                :search-cond.sync="searchCond"
                :fetch-data="loadDataGridByPrgID"
        ></search-comp>
        <div class="clearfix"></div>

        <div class="col-xs-12 col-sm-12 businessCompanyData">
            <div class="col-xs-11 col-sm-11">
                <div class="row no-margin-right">
                    <div>
                        <table id="PMS0610010_dg" class="gridTableHt"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth sales-AccountMain"
                                        role="button" @click="appendRow"><%= __("SystemCommon")["Add"] %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth sales-AccountMain"
                                        role="button" @click="editRow"><%= __("SystemCommon")["Modify"] %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth btn-skin"
                                        role="button"><%= __("program")["PMS0610010"]["save_as"] %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button" @click="editSalesClerk"><%= __("program")["PMS0610010"]["sales_assign"] %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button" @click="addVisitPlan"><%= __("program")["PMS0610010"]["visit_plan"] %>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--商務公司資料編輯-->
    <pms0610020
            :row-data="editingRow"
            :is-modifiable="isModifiable"
            :is-create-status="isCreateStatus"
            :is-edit-status="isEditStatus"
    ></pms0610020>
    <!--業務員指派-->
    <edit-sales-clerk
            :edit-rows="editRows"
            :is-edit-sales-clerk="isEditSalesClerk"
    ></edit-sales-clerk>
    <!--拜訪紀錄-->
    <visit-record
            :is-create-status="isCreateStatus"
            :is-edit-status="isEditStatus"
            :is-only-single-grid="isOnlySingleVisitRecord"
            :edit-rows="editRows"
            :fetch-data-params="fetchDataParams"
    ></visit-record>
    <!--異動紀錄-->
    <el-dialog
            title=" <%= __("SystemCommon").ChangeLog %>" :close-on-click-modal="true" :show-close="false"
            :visible.sync="openChangeLogDialog" size="large" class="openChangeLogDialog">
        <div class="col-xs-12">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="fixHeadTable">
                        <div class="tbl-header02">
                            <table class=" custab">
                                <thead class="custab-head">
                                <tr>
                                    <th class="width-15 text-center"><%= __("SystemCommon")["Time"] %></th>
                                    <th class="width-10 text-center"><%= __("SystemCommon")["User"] %></th>
                                    <th class="width-15 text-center"><%= __("SystemCommon")["Action_type"] %></th>
                                    <th class="width-20 text-center"><%= __("SystemCommon")["Desciption_Mn"] %></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content02" style="height: 300px;">
                            <table class="custab">

                                <tbody class="custab-body" style="height: 250px; overflow-y: auto;">
                                <tr v-for="logData in allChangeLogList">
                                    <td class="width-15">{{logData.event_time}}</td>
                                    <td class="width-10">{{logData.user}}</td>
                                    <td class="width-15"><span
                                                v-for="keyData in logData.keys">{{keyData}}<br></span>
                                    </td>
                                    <td class="width-20">
                                        <div class="blue bold" style="text-transform: capitalize;">{{logData.action
                                            }}
                                        </div>
                                        <span v-for="mnData in logData.desc_mn">
                                        {{mnData.field_name}} :
                                        {{mnData.oldVal}}
                                        <span v-if="logData.action == 'update'"> →  </span>
                                        {{mnData.newVal}}
                                        <br>
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
        <span slot="footer" class="dialog-footer">
             <el-button @click="openChangeLogDialog = false"><%= __("SystemCommon.OK") %></el-button>
        </span>
    </el-dialog>
</div><!-- /.page-content -->

<script src="/js/sales/PMS0610010.main.js"></script>

