<!--page-content-->
<div id="PMS0610010App">
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 商務公司(Accounts) Page-->
    <div class="pageMain">
        <search-comp
                :search-fields="searchFields"
                :search-cond.sync="searchCond"
                :fetch-data="loadDataGridByPrgID"
        ></search-comp>
        <div class="clearfix"></div>

        <div class="col-xs-12 col-sm-12 businessCompanyData">
            <div class="col-xs-11 col-sm-11">
                <div class="row no-margin-right">
                    <div>
                        <!-- 商務公司 table -->
                        <!--<table id="bs-companyMain-table" class="gridTableHt"></table>-->
                        <table id="PMS0610010_dg" class="gridTableHt"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth sales-AccountMain"
                                        role="button" @click="appendRow"><%= __("SystemCommon")["Add"] %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth sales-AccountMain"
                                        role="button"><%= __("SystemCommon")["Modify"] %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth btn-skin"
                                        role="button"><%= __("program")["PMS0610010"]["save_as"] %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button" @click="editSalesClerk"><%= __("program")["PMS0610010"]["sales_assign"] %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth sales_newVisitRecord"
                                        role="button" @click="editVisitPlan"><%= __("program")["PMS0610010"]["visit_plan"] %>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<single-grid-pms0610010-tmp-->
            <!--:row-data="editingRow"-->
            <!--:is-modifiable="isModifiable"-->
            <!--:is-create-status="isCreateStatus"-->
            <!--:is-edit-status="isEditStatus"-->
    <!--&gt;</single-grid-pms0610010-tmp>-->

    <!--<sales-edit-clerk-comp-->
            <!--:edit-rows="editRows"-->
    <!--&gt;</sales-edit-clerk-comp>-->
    <visit-record
            :is-create-status="isCreateStatus"
            :is-edit-status="isEditStatus"
            :is-only-single-grid="isOnlySingleGrid"
            :edit-rows="editRows"
            :fetch-data-params="fetchDataParams"
    ></visit-record>
</div><!-- /.page-content -->

<script src="/js/sales/PMS0610010.main.js"></script>

