<div id="permission-app">
</div>

<%- include vueTemplate/permission/auth-navbar.ejs %>
<%- include vueTemplate/permission/authRoleComp.ejs %>
<%- include vueTemplate/permission/authFuncComp.ejs %>
<%- include vueTemplate/permission/authStaffComp.ejs %>
<%- include vueTemplate/permission/authFunc.ejs %>
<%- include vueTemplate/permission/authStaff.ejs %>
<%- include vueTemplate/permission/authRole.ejs %>

<script src="/js/tree/jstree.min.js"></script>
<script src="/js/system/permissionSetup.js"></script>
<script>
    $(function () {
        // Resize Table Height // Date:170920

        // 藍色系統列
        var menuHeight1 = $(".navbar-container").height();

        // quickMenus + 搜尋欄位
        var menuHeight2 = $(".top-sec-ul").height() + 30 + $(".page-header").height() + $(".search-content").height();//padding-top: 5px

        // 前檯 selectgroup
        var footerCon = $(".footerCon").height();

        gridTableHt = $(window).height() - menuHeight1 - menuHeight2 - footerCon - 65;

        // $(".gridTableHt .panel-body").css("height", height);
        $(".gridTableHt").css("height", gridTableHt).css("overflow-y", "auto");

        // 螢幕縮放時重新抓值
        $(window).resize(function () {
            gridTableHt = $(window).height() - menuHeight1 - menuHeight2 - footerCon - 65;
            $(".gridTableHt").css("height", gridTableHt).css("overflow-y", "auto");
        });

        //.END Resize Table Height // Date:170920
    });
</script>
