<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title><%= __("SystemCommon").CompanyName %></title>
    <meta http-equiv="PRAGMA" CONTENT="NO-CACHE">
    <meta http-equiv="EXPIRES" CONTENT="0">
    <meta http-equiv="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta http-equiv="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
</head>

<%- include ../common/cssFile/importFiles_CssBase %>

<%- include ../common/jsFile/importFiles_JsBase %>

<body class="no-skin">

<div class="main-container ace-save-state" id="sysoption-app">
    <%- include ../common/navbar.ejs %>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content optionSystem">
                <!--<img src="/images/banner.jpg" class="banner"/>-->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="space-24"></div>
                            <div class="col-sm-3 col-sm-offset-1">
                                <div class="page-header">
                                    <h1>
                                        <%= __("BAC01P0130")["news"] %>
                                    </h1>
                                </div><!-- /.page-header -->
                            </div>
                            <div class="col-sm-6 col-sm-offset-1 system-block-all">
                                <div class="system-block">
                                    <% sysList.forEach(function(sys, sIdx){ %>
                                    <div class="boxy">
                                        <a href="#" class="system-circle" @click="selectSys('<%= sys.sys_id %>')">
                                            <%
                                                var sysColor = "circle-bg-blue";
                                                var sysAbbrName = "";
                                                var la_sys = sys["sys_name_en"].split(" ");
                                                la_sys.forEach(function (s) {
                                                    sysAbbrName += s.substring(0, 1);
                                                })
                                                //circle-bg-blue   :藍色
                                                //circle-bg-orange :橘色
                                                //circle-bg-green  :綠色
                                                if (sIdx / 3 == 0) {
                                                    sysColor = "circle-bg-blue";
                                                } else if (sIdx / 3 == 1) {
                                                    sysColor = "circle-bg-orange";
                                                } else {
                                                    sysColor = "circle-bg-green";
                                                }
                                            %>

                                            <div class="inner-item"
                                                 title="<%= sys["sys_name_" + session.locale] %>">
                                                <div class="sub <%= sysColor %>">
                                                    <p class="optionTip"><%= sys["sys_name_" + session.locale] %></p>
                                                </div>
                                                <h3><%= sysAbbrName %></h3>
                                            </div>

                                        </a>

                                    </div>

                                    <% }) %>

                                </div>
                            </div><!-- /.col -->
                            <div class="clearfix"></div>
                        </div><!-- /.row -->
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <%- include ../common/footer.ejs %>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

</body>
</html>

<script>
    new Vue({
        el: '#sysoption-app',
        methods: {
            //選擇系統
            selectSys: function (sys_id) {
                $.post("/api/selectSystem", {sys_id: sys_id}, function (result) {
                    if (result.success) {
                        location.href = result.subsysPage;
                    }
                })
            },
            /**
             * 登出
             */
            doLogout: function () {
                $.post("/cas/logout", function () {
                    location.reload();
                });
            },
        }
    })
</script>