<script type="text/x-template" id="singleGridPMS0620050Tmp">
    <div id="singleGridPMS0620050" class="hide">
        <div class="col-sm-12 newVisitRecord-wrap">
            <!--remarks: no-margin-right-->
            <div class="row" v-loading="isLoadingDialog" :element-loading-text="loadingText">
                <div class="col-sm-10 col-xs-10">
                    <div class="row" v-for="fields in fieldsData">
                        <div class="grid">
                            <div class="grid-item " v-for="field in fields">
                                <label v-if="field.visiable == 'Y' && field.ui_type != 'checkbox'">
                                    <span v-if=" field.requirable == 'Y' " style="color: red;">*</span>
                                    <span>{{ field.ui_display_name }}</span>
                                </label>

                                <input type="text" v-model="singleData[field.ui_field_name]"
                                       v-if="field.visiable == 'Y' &&   (field.ui_type == 'text' || field.ui_type == 'popupgrid')"
                                       :type="field.ui_type" class="numStyle-none"
                                       :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                       :class="{'input_sta_required' : field.requirable == 'Y', 'text-right' : field.ui_type == 'number'}"
                                       :required="field.requirable == 'Y'" min="0"
                                       :maxlength="field.ui_field_length"
                                       :disabled="!isModifiable || field.modificable == 'N'|| (field.modificable == 'I') || (field.modificable == 'E')"
                                       @click="chkClickPopUpGrid(field)">

                                <input type="text" v-model="singleData[field.ui_field_name]"
                                       v-if="field.visiable == 'Y' && field.ui_type == 'number'"
                                       :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                       :class="{'input_sta_required' : field.requirable == 'Y', 'text-right' : field.ui_type == 'number'}"
                                       @keyup="formatAmt(singleData[field.ui_field_name], field)"
                                >

                                <template v-if="field.visiable == 'Y' && field.ui_type == 'date'">
                                    <el-date-picker v-model="singleData[field.ui_field_name]"
                                                    type="date"
                                                    size="small"
                                                    :disabled="!isModifiable || field.modificable == 'N' || (field.modificable == 'I') || (field.modificable == 'E')"
                                                    format="yyyy/MM/dd"
                                                    :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                    @change="chkFieldRule(field.ui_field_name,field.rule_func_name)">

                                    </el-date-picker>
                                </template>

                                <!-- 日期時間選擇器 -->
                                <template v-if="field.visiable == 'Y' && field.ui_type == 'datetime'">
                                    <el-date-picker v-model="singleData[field.ui_field_name]"
                                                    type="datetime"
                                                    change="chkFieldRule(field.ui_field_name,field.rule_func_name)"
                                                    :disabled="!isModifiable || field.modificable == 'N'|| (field.modificable == 'I') || (field.modificable == 'E')"
                                                    size="small"
                                                    :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                    format="yyyy/MM/dd HH:mm:ss"
                                                    @change="chkFieldRule(field.ui_field_name,field.rule_func_name)">
                                    </el-date-picker>
                                </template>

                                <!-- 下拉選單 -->
                                <bac-select v-if="field.visiable == 'Y' && field.ui_type == 'select'"
                                            :class="{'input_sta_required' : field.requirable == 'Y' }"
                                            :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                            v-model="singleData[field.ui_field_name]" :data="field.selectData"
                                            is-qry-src-before="Y" value-field="value" text-field="display"
                                            @update:v-model="val => singleData[field.ui_field_name] = val"
                                            :default-val="singleData[field.ui_field_name]"
                                            :disabled="field.modificable == 'N'">
                                </bac-select>

                                <!--  textarea -->
                                <textarea v-model="singleData[field.ui_field_name]"
                                          v-if="field.visiable == 'Y' && field.ui_type == 'textarea'"
                                          class="numStyle-none"
                                          rows="4"
                                          :style="{width:field.width + 'px'}"
                                          :required="field.requirable == 'Y'"
                                          :maxlength="field.ui_field_length"
                                          :disabled="field.modificable == 'N'|| (field.modificable == 'I') || (field.modificable == 'E' && createStatus) || !isModifiable"
                                          @click="chkFieldRule(field.ui_field_name,field.rule_func_name)"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <div class="row no-margin-right">
                        <div class="right-menu-co">
                            <ul>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button"
                                            @click="toFirstData" :disabled="BTN_action || isFirstData">
                                        <%= __("SystemCommon")["First"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button"
                                            @click="toPreData" :disabled="BTN_action || isFirstData">
                                        <%= __("SystemCommon")["Previous"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button"
                                            @click="toNextData" :disabled="BTN_action || isLastData">
                                        <%= __("SystemCommon")["Next"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth" role="button"
                                            @click="toLastData" :disabled="BTN_action || isLastData">
                                        <%= __("SystemCommon")["Last"] %>
                                    </button>
                                </li>

                                <li>
                                    <button class="btn btn-danger btn-white btn-defaultWidth purview_btn" role="button"
                                            @click="doDelGrid" data-purview_func_id="PMS0620050-0300" :disabled="isDelEnable">
                                        <%= __("SystemCommon")["Delete"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-white btn-defaultWidth purview_btn" role="button"
                                            @click="doSaveGrid" data-purview_func_id="PMS0620050-0500" :disabled="isSaveEnable">
                                        <%= __("SystemCommon")["Save"] %>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-danger btn-white btn-defaultWidth" role="button"
                                            @click="doCloseDialog">
                                        <%= __("SystemCommon")["Leave"] %>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
