<script type="text/x-template" id="singleGridPMS0620020Tmp">
    <div id="singleGridPMS0620020" class="hide padding-5">
        <div class="businessCompanyData">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-sm-11 col-xs-11" v-loading="isLoadingDialog" :element-loading-text="loadingText">
                        <div class="borderFrame main-content-data ">
                            <div class="grid" v-for="fields in fieldData">
                                <div class="grid-item" v-for="field in fields">
                                    <!--  checkbox -->
                                    <input v-if="field.visiable == 'Y' && field.ui_type == 'checkbox'"
                                           v-model="rowData[field.ui_field_name]" type="checkbox"
                                           :required="field.requirable == 'Y'" :maxlength="field.ui_field_length"
                                           :disabled="field.modificable == 'N'|| (field.modificable == 'I' && editStatus) || (field.modificable == 'E' && createStatus) || !isModifiable"
                                           @click="chkFieldRule(field.ui_field_name,field.rule_func_name)">

                                    <label style="width:auto"
                                           v-if="field.visiable == 'Y' && field.ui_type == 'checkbox'">
                                        <span v-if=" field.requirable == 'Y' " style="color: red;">*</span>
                                        <span>{{ field.ui_display_name }}</span>
                                    </label>

                                    <label v-if="field.visiable == 'Y' && field.ui_type != 'checkbox'">
                                        <span v-if=" field.requirable == 'Y' " style="color: red;">*</span>
                                        <span>{{ field.ui_display_name }}</span>
                                    </label>

                                    <input type="text" v-model="rowData[field.ui_field_name]"
                                           v-if="field.visiable == 'Y' &&   (field.ui_type == 'text' ||  field.ui_type == 'number' || field.ui_type == 'popupgrid')"
                                           :type="field.ui_type" class="numStyle-none"
                                           :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                           :class="{'input_sta_required' : field.requirable == 'Y', 'text-right' : field.ui_type == 'number'}"
                                           :required="field.requirable == 'Y'" min="0"
                                           :maxlength="field.ui_field_length"
                                           :disabled="!isModifiable || field.modificable == 'N'|| (field.modificable == 'I'&& editStatus) || (field.modificable == 'E'&& createStatus)"
                                           @click="chkClickPopUpGrid(field)">

                                    <!-- tree -->
                                    <template v-if="field.visiable == 'Y' && field.ui_type == 'tree'">
                                        <el-cascader
                                                :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                v-model="classCodSelectedOption"
                                                expand-trigger="hover"
                                                :options="field.selectData"
                                                class="numStyle-none"
                                                size="small"></el-cascader>
                                    </template>

                                    <!-- 日期選擇器 -->
                                    <template v-if="field.visiable == 'Y' && field.ui_type == 'date'">
                                        <el-date-picker v-model="rowData[field.ui_field_name]"
                                                        type="date"
                                                        size="small"
                                                        :disabled="!isModifiable || field.modificable == 'N' || (field.modificable == 'I' && editStatus) || (field.modificable == 'E' && createStatus)"
                                                        format="yyyy/MM/dd"
                                                        :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                        @change="chkFieldRule(field.ui_field_name,field.rule_func_name)">

                                        </el-date-picker>
                                    </template>

                                    <!-- 日期時間選擇器 -->
                                    <template v-if="field.visiable == 'Y' && field.ui_type == 'datetime'">
                                        <el-date-picker v-model="rowData[field.ui_field_name]"
                                                        type="datetime"
                                                        change="chkFieldRule(field.ui_field_name,field.rule_func_name)"
                                                        :disabled="!isModifiable || field.modificable == 'N'|| (field.modificable == 'I' && editStatus) || (field.modificable == 'E' && createStatus)"
                                                        size="small"
                                                        :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                        format="yyyy/MM/dd HH:mm:ss"
                                                        @change="chkFieldRule(field.ui_field_name,field.rule_func_name)">
                                        </el-date-picker>
                                    </template>

                                    <!-- 下拉選單 -->
                                    <span class="dropdown dropdownCustom" align="left"
                                          :class="{'input_sta_required' : field.requirable == 'Y' }"
                                          v-if="field.visiable == 'Y' && field.ui_type == 'select'"
                                          :style="{width:field.width + 'px' , height:field.height + 'px'}">
                                        <button :disabled="!isModifiable || field.modificable == 'N' || (field.modificable == 'I' && editStatus) || (field.modificable == 'E' && createStatus)"
                                                class="btn btn-default btn-white dropdown-toggle btn-height"
                                                style="text-align: left!important;"
                                                type="button" data-toggle="dropdown"
                                                :style="{width:field.width + 'px' , height:field.height + 'px'}">
                                            {{ showDropdownDisplayName(rowData[field.ui_field_name] , field.selectData) }}
                                            <span class="caret" style="text-align: right"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-h" role="menu" aria-labelledby="menu1">
                                            <li role="presentation" v-for="opt in field.selectData"
                                                @click="chkFieldRule(field.ui_field_name,field.rule_func_name)">
                                                <a @click.prevent="rowData[field.ui_field_name] = opt.value">
                                                    {{opt.display}}
                                                </a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-------- tabPage -------->
                        <el-tabs v-model="gs_active" @tab-click="doChangeTraff">
                            <el-tab-pane label="<%= __("program")["PMS0620020"]["Property"] %>" name="hotelDt">
                            </el-tab-pane>
                            <el-tab-pane label="<%= __("program")["PMS0620020"]["group_change_record"] %>"
                                         name="classHs">
                            </el-tab-pane>
                        </el-tabs>
                        <div id="hotelDtPanel" v-show="gs_active=='hotelDt'" class="easyui-panel">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="main-content-data">
                                        <!-- 表格 -->
                                        <div class="col-xs-11 col-sm-11">
                                            <div class="horizTable-outer">
                                                <table class="css_table " id="hotelDt_dg" style="width:100%;"></table>
                                            </div>
                                        </div>
                                        <!-- 按鈕 -->
                                        <div class="col-sm-1 col-xs-1">
                                            <div class="row">
                                                <div class="right-menu-co">
                                                    <ul>
                                                        <li>
                                                            <button class="btn btn-primary btn-white btn-defaultWidth"
                                                                    role="button" :disabled="BTN_action"
                                                                    @click="appendDtRow"><%= __("SystemCommon")["Add"] %>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button class="btn btn-danger btn-white btn-defaultWidth"
                                                                    role="button" :disabled="BTN_action"
                                                                    @click="removeDtRow"><%= __("SystemCommon")["Delete"] %>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="classHsPanel" v-show="gs_active=='classHs'" class="easyui-panel">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="main-content-data">
                                        <!-- 表格 -->
                                        <div class="col-xs-11 col-sm-11">
                                            <div class="horizTable-outer">
                                                <table class="css_table horizTable" id="classHs_dg"
                                                       style="width:100%;"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="easyui-tabs easyUi-custom1">

                        </div>
                        <!-------- /.tabPage -------->

                    </div>
                    <div class="col-sm-1 col-xs-1 right-menu-co">
                        <div class="row">
                            <div class="right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth purview_btn" role="button"
                                                @click="doSave" data-purview_func_id="PMS06200200200">
                                            <%= __("SystemCommon")["Save"] %>
                                        </button>
                                    </li>
                                    <!--<li><button  id="" class="btn btn-primary btn-white btn-defaultWidth NewVisit" role="button">New Visit</button></li>-->
                                    <!--<li><button class="btn btn-primary btn-white btn-defaultWidth NewDetail" role="button">New Detail</button></li>-->
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth "
                                                role="button"
                                                @click="loadChangeLog"><%= __("SystemCommon")["ChangeLog"] %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-white btn-defaultWidth" role="button"
                                                @click="closeSingleGridDialog">
                                            <%= __("SystemCommon")["Leave"] %>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>




