<!DOCTYPE html>
<html lang="en">

<%- include ./common/head %>

<%- include ./common/cssFile/importFiles_CssBase %>

<%- include ./common/jsFile/importFiles_JsBase %>
<body class="no-skin">

<div id="BacchusMainApp" class="main-container ace-save-state" style="margin-top: 35px;">

    <%- include ./common/navbar.ejs %>

    <div id="sidebar" class="sidebar responsive ace-save-state sidebar-fixed">
        <%- include ./common/moduleMenu.ejs %>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <%- include ./common/subsysMenu.ejs %>
            <div id="MainContentDiv" class="page-content">
                <!-- 主內容 -->
                <div style=" margin: 0 auto; display: block; " align="center">
                    <img src="/images/initialPageImg.jpg" style="margin-top:-200px;opacity: 0.4" width="900"/>
                </div>
            </div>
        </div>
    </div>
    <%- include ./common/footer %>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>


</body>
<script src="/js/system/mainFramework.js"></script>
</html>

