<div class="loginPage">
    <div class="space-6"></div>
    <div class="login-container" style="background: #fff; border: 0px solid #fff;">
        <div class="col-sm-12 col-xs-12">
            <div class="row">
                <div class="title">
                    <!--icon-->
                    <i class="ace-icon fa fa-key red"></i>
                    <span><%= __('SystemCommon').editPwd %></span>
                </div>
                <div class="main">
                    <h2>
                        <i class="ace-icon fa fa-user"></i>
                        <%= session.user.usr_id %>
                    </h2>
                    <div>
                        <div class=""><%= __('SystemCommon').verifyIdentify %></div>

                        <div class="block input-icon input-icon-right">
                            <input type="password" class="form-control" placeholder="<%= __('SystemCommon').oriPwd %>" v-model="pwdData.oriPassword"/>
                            <i class="ace-icon fa fa-lock"></i>
                        </div>

                        <div class=""><%= __('SystemCommon').enterNewPwd %></div>

                        <div class="block input-icon input-icon-right">
                            <input type="password" class="form-control" placeholder="<%= __('SystemCommon').newPwd %>" v-model="pwdData.newPassword"/>
                            <i class="ace-icon fa fa-lock"></i>
                        </div>

                        <div class=""><%= __('SystemCommon').checkNewPwd %></div>

                        <div class="block input-icon input-icon-right">
                            <input type="password" class="form-control" placeholder="<%= __('SystemCommon').newPwd %>" v-model="pwdData.confirmPassword"/>
                            <i class="ace-icon fa fa-lock"></i>
                        </div>

                        <div class="clearfix"></div>

                        <div class="mainCheck">
                            <!--<label class="inline">-->
                            <!--<a href="#" data-target="#forgot-box" class="forgot-password-link">-->
                            <!--<i class="ace-icon fa fa-arrow-left"></i>-->
                            <!--Forget Password？-->
                            <!--</a>-->
                            <!--</label>-->

                            <button type="button" id="login_btn" class="width-35 pull-right btn btn-sm btn-primary"
                                    @click="confirmEditPassword">
                                <span class="bigger-110"> <%= __('SystemCommon').Modify %></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>