<!DOCTYPE html>
<html lang="en">
<%- include ../common/head %>
<%- include ../common/importFiles %>


<body class="no-skin" id="app">

<!-- #section:basics/navbar.layout -->
<%- include ../common/navbar.ejs %>
<!-- include header.html -->
<script type="text/javascript">
    var global_using_prg_id = ""; //目前使用中的程式


    $(function () {
        //選第一個對照檔
        $("#settingUl li").first().find("a").click();

    })

    //網頁讀取
    function loadSettingPage(prg_id) {

//        $("#controlReservationTab01").load('/mainSetUp/' + prg_id);
        //TODO 需改成用load的方式
        var iframe = document.getElementById('proIframe');
        iframe.src = '/mainSetUp/' + prg_id;
    }

    // 判斷iframe 大小
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

</script>
<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" id="main-container" style="margin-top: 35px;">

        <div id="sidebar" class="sidebar responsive ace-save-state sidebar-fixed">


        <%- include('../common/moduleMenu',{}) %>

        <div class="companyInfo">
            <img src="/images/athena_log.png"/>
        </div>
        <!-- /section:basics/sidebar.layout.minimize -->
    </div>

    <!-- /section:basics/sidebar -->

    <div class="main-content">
        <div class="main-content-inner">

            <%- include('../common/subsysMenu',{}) %>

            <div class="page-content">
            <div class="holidayDateSet">
                <div class="page-header">
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-tabs" id="myTab3">
                                <li class="active">
                                    <a data-toggle="tab" href="#holidayDateSetTaTab01">
                                        假日日期設定
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <div id="holidayDateSetTaTab01" class="tab-pane in active">

                                    <div class="col-sm-12 col-xs-12 holidayDateSet-content">
                                        <div class="row">
                                            <div class="col-sm-11 col-xs-11">
                                                <div class="row">
                                                    <div class="grid holidayDateGrid">
                                                        <div class="grid-item">
                                                            <label>館別</label>
                                                            <select>
                                                                <option value="hotel01">德安大飯店</option>
                                                                <option value="hotel02">美麗華大飯店</option>
                                                                <option value="hotel03">讀朵辛拉大飯店</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="grid holidayDateGrid">
                                                        <div class="grid-item holidayDateSelect">
                                                            <label class="float-left">日期別</label>
                                                            <select class="input-small float-left" name="color_scheme" id="color_scheme">
                                                                <option value="datePin01" selected="selected">平日</option>
                                                                <option value="datePin02">假日</option>
                                                                <option value="datePin03">旺日</option>
                                                            </select>
                                                            <div class="datePin01 float-left"></div>
                                                        </div>
                                                        <div class="grid-item time-daterange">
                                                            <label class="float-left">日期起</label>
                                                            <div class="input-daterange input-group float-left">
                                                                <input type="text" class="input-sm form-control" name="start" />
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-exchange"></i>
                                                                </span>
                                                                <input type="text" class="input-sm form-control" name="end" />
                                                            </div>
                                                        </div> <!-- grid-item -->
                                                        <div class="grid-item weekDate">
                                                            <span class="choiceDay">Sun</span>
                                                            <span class="choiceDay">Mon</span>
                                                            <span class="choiceDay">Tue</span>
                                                            <span class="choiceDay">Wed</span>
                                                            <span class="choiceDay">Thu</span>
                                                            <span class="choiceDay">Fri</span>
                                                            <span class="choiceDay">Sat</span>
                                                        </div>
                                                    </div>
                                                    <div class="space-6"></div>
                                                    <!--// 日期列表-->
                                                    <!-- todo 最左側從今年開始 -->
                                                    <div class="calendar-list"></div>

                                                </div>
                                            </div>
                                            <div class="col-xs-1 col-sm-1">
                                                <div class="row">
                                                    <div class="right-menu-co">
                                                        <ul>
                                                            <li>
                                                                <button class="btn btn-primary btn-white btn-defaultWidth holiday-btn"
                                                                        role="button">save</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /.col-sm-12 -->
                                    <div class="clearfix"></div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>

            </div><!-- /.roomNumPlanPage -->
            </div>
        </div>
    </div><!-- /.main-content -->
    <%- include ../common/footer %>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->


</body>
<script type="text/javascript">
    $(function() {
        // 日期列表
        $('.calendar-list').calendarYear();
        // 選擇日期區間 or change it into a date range picker
        $('.input-daterange').datepicker({autoclose:true});
        // 選擇顏色
        $("#preferredHex3").spectrum({
            preferredFormat: "hex3",
            showInput: true,
            showPalette: true,
            palette: [["red", "rgba(0, 255, 0, .5)", "rgb(0, 0, 255)"]]
        });
        // 平日假日旺日選擇
        var selectedScheme = 'datePin01';

        $('#color_scheme').change(function(){
            $('div').removeClass(selectedScheme).addClass($(this).val());
            selectedScheme = $(this).val();
        });
    });
</script>
</html>
