<!DOCTYPE html>
<html lang="en">
<%- include ../common/head %>
<%- include ../common/importFiles %>


<body class="no-skin" id="app">

<!-- #section:basics/navbar.layout -->
<%- include ../common/navbar.ejs %>
<!-- include header.html -->
<script type="text/javascript">
    var global_using_prg_id = ""; //目前使用中的程式


    $(function () {
        //選第一個對照檔
        $("#settingUl li").first().find("a").click();

    })

    //網頁讀取
    function loadSettingPage(prg_id) {

//        $("#controlReservationTab01").load('/mainSetUp/' + prg_id);
        //TODO 需改成用load的方式
        var iframe = document.getElementById('proIframe');
        iframe.src = '/mainSetUp/' + prg_id;
    }

    // 判斷iframe 大小
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

</script>
<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" id="main-container" style="margin-top: 35px;">

        <div id="sidebar" class="sidebar responsive ace-save-state sidebar-fixed">


        <%- include('../common/moduleMenu2',{}) %>

        <div class="companyInfo">
            <img src="/images/athena_log.png"/>
        </div>
        <!-- /section:basics/sidebar.layout.minimize -->
    </div>

    <!-- /section:basics/sidebar -->

    <div class="main-content">
        <div class="main-content-inner">

            <%- include('../common/subsysMenu2',{}) %>

            <div class="page-content">
                <div class="">
                    <div class="page-header">
                    </div><!-- /.page-header -->

                    <div class="row">
                            <div class="col-xs-12">
                                <div class="col-sm-11 col-xs-11">
                                    <div class="row no-margin-right">
                                        <!--  依房型訂房 -->
                                        <div class="container_12 divider">
                                             <div class="grid_12 height600">
                                                <table class="fancyTable themeTable" id="priceSetting" cellpadding="0" cellspacing="0">
                                                    <thead>
                                                    <tr>
                                                        <th class="ca-headerTitle height-fntThead" rowspan="2">
                                                            <div class="ca-center">
                                                                <div class="pull-left">
                                                                    <div>三月</div>
                                                                    <div>2016</div>
                                                                </div>
                                                                <div class="pull-left">
                                                                    <span class="ca-headerIcon">
                                                                        <i class="fa fa-calendar orange"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </th>
                                                        <th>二</th>
                                                        <th>三</th>
                                                        <th>四<br></th>
                                                        <th>五<br></th>
                                                        <th class="holiday-color">六</th>
                                                        <th class="holiday-color">日</th>
                                                        <th>一</th>
                                                        <th>二</th>
                                                        <th>三</th>
                                                        <th>四</th>
                                                        <th>五</th>
                                                        <th class="holiday-color">六</th>
                                                        <th class="holiday-color">日</th>
                                                        <th >一</th>
                                                        <th >二</th>
                                                        <th >三</th>
                                                        <th >四</th>
                                                        <th >五</th>
                                                        <th class="holiday-color">六</th>
                                                        <th class="holiday-color">日</th>
                                                        <th >一</th>
                                                        <th >二</th>
                                                        <th >三</th>
                                                        <th >四</th>
                                                        <th >五</th>
                                                        <th class="holiday-color">六</th>
                                                        <th class="holiday-color">日</th>
                                                        <th >一</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="dateColor"><span class="">14</span></th>
                                                        <th class="dateColor"><span class="">15</span></th>
                                                        <th class="dateColor"><span class="">16</span></th>
                                                        <th class="dateColor"><span class="">17</span></th>
                                                        <th class="dateColor"><span class="">18</span></th>
                                                        <th class="dateColor"><span class="">19</span></th>
                                                        <th class="dateColor"><span class="">20</span></th>
                                                        <th class="dateColor"><span class="">21</span></th>
                                                        <th class="dateColor"><span class="">22</span></th>
                                                        <th class="dateColor"><span class="">23</span></th>
                                                        <th class="dateColor"><span class="">24</span></th>
                                                        <th class="dateColor"><span class="">25</span></th>
                                                        <th class="dateColor"><span class="">26</span></th>
                                                        <th class="dateColor"><span class="">27</span></th>
                                                        <th class="dateColor"><span class="">28</span></th>
                                                        <th class="dateColor"><span class="">01</span></th>
                                                        <th class="dateColor"><span class="">02</span></th>
                                                        <th class="dateColor"><span class="">03</span></th>
                                                        <th class="dateColor"><span class="">04</span></th>
                                                        <th class="dateColor"><span class="">05</span></th>
                                                        <th class="dateColor"><span class="">06</span></th>
                                                        <th class="dateColor"><span class="">07</span></th>
                                                        <th class="dateColor"><span class="">08</span></th>
                                                        <th class="dateColor"><span class="">09</span></th>
                                                        <th class="dateColor"><span class="">10</span></th>
                                                        <th class="dateColor"><span class="">11</span></th>
                                                        <th class="dateColor"><span class="">12</span></th>
                                                        <th class="dateColor"><span class="">13</span></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="middle td-first orangeTag">2016台北資訊展</td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric orangeTag">
                                                            2016台北資訊展
                                                        </td>
                                                        <td class="numeric orangeTag">

                                                        </td>
                                                        <td class="numeric orangeTag">

                                                        </td>
                                                        <td class="numeric orangeTag">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="middle td-first greenTag">冬季旅展大登場</td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric greenTag">
                                                            冬季旅展大登場
                                                        </td>
                                                        <td class="numeric greenTag">

                                                        </td>
                                                        <td class="numeric greenTag">

                                                        </td>
                                                        <td class="numeric greenTag">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                        <td class="numeric">

                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="1">
                                                        <td class="middle td-first">STD <span class="roomNumTip">10</span></td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="2" data-tt-parent-id="1" class="">
                                                        <td class="middle td-first ">用房數
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="3" data-tt-parent-id="1" class="">
                                                        <td class="middle td-first">非WRS鎖控剩餘數
                                                        </td>
                                                        <td class="numeric">
                                                            14.3
                                                        </td>
                                                        <td class="numeric">
                                                            14.5
                                                        </td>
                                                        <td class="numeric">
                                                            14.6
                                                        </td>
                                                        <td class="numeric">
                                                            14.1
                                                        </td>
                                                        <td class="numeric">
                                                            124
                                                        </td>
                                                        <td class="numeric">
                                                            147
                                                        </td>
                                                        <td class="numeric">
                                                            142
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="4" data-tt-parent-id="1" class="">
                                                        <td class="middle td-first ">WRS鎖控剩餘數
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="5" data-tt-parent-id="1" class="">
                                                        <td class="middle td-first ">庫存可超訂的剩餘數
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>

                                                    <tr data-tt-id="6">
                                                        <td class="middle td-first">DXK <span class="roomNumTip">10</span></td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="7" data-tt-parent-id="6" class="">
                                                        <td class="middle td-first ">用房數
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="8" data-tt-parent-id="6" class="">
                                                        <td class="middle td-first">非WRS鎖控剩餘數
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="9" data-tt-parent-id="6" class="">
                                                        <td class="middle td-first ">WRS鎖控剩餘數
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>
                                                    <tr data-tt-id="10" data-tt-parent-id="6" class="">
                                                        <td class="middle td-first ">庫存可超訂剩餘數
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>

                                                    <!-- no-data 設定高 -->
                                                    <tr class="no-data">
                                                        <td></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                        <td class="numeric"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="middle td-first ">Occupancy(perc.)</td>
                                                        <td class="numeric">
                                                            36
                                                        </td>
                                                        <td class="numeric  orange2Tag">
                                                            25
                                                        </td>
                                                        <td class="numeric yellowTag">
                                                            15
                                                        </td>
                                                        <td class="numeric yellowTag">
                                                            12
                                                        </td>
                                                        <td class="numeric yellowTag">
                                                            46
                                                        </td>
                                                        <td class="numeric orange2Tag">
                                                            57
                                                        </td>
                                                        <td class="numeric orange2Tag">
                                                            65
                                                        </td>
                                                        <td class="numeric">
                                                            72
                                                        </td>
                                                        <td class="numeric">
                                                            26
                                                        </td>
                                                        <td class="numeric">
                                                            50
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                        <td class="numeric">
                                                            14
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="clear"></div>
                                        </div> <!-- table -->
                                    </div>
                                </div>
                                <div class="col-xs-1 col-sm-1">
                                    <div class="row">
                                        <div class="right-menu-co">
                                            <ul>
                                                <li>
                                                    <button id="ins-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">上一頁</button>
                                                </li>

                                                <li>
                                                    <button id="remove-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">下一頁</button>
                                                </li>
                                                <li>
                                                    <button id="ins-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">訂房</button>
                                                </li>
                                                <li>
                                                    <button id="ins-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">列印</button>
                                                </li>
                                                <li>
                                                    <button id="ins-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">另存</button>
                                                </li>
                                                <li>
                                                    <button id="ins-btn"
                                                            class="btn btn-primary btn-white btn-defaultWidth"
                                                            role="button">專案訂房</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /.col-sm-12 -->
                            <div class="clearfix"></div>

                    </div>
                    <!-- 信用額度變更 彈出視窗 -->
                    <div id="changeCreditLimit-message" class="hide">
                        <div class="col-sm-12 col-xs-12">
                            <div class="businessCompanyData">
                                <div class="col-sm-11 col-xs-11">
                                    <div class="row billInfo">
                                        <div class="content">
                                            <div class="clearfix"></div>
                                            <div class="space-custom-5"></div>
                                            <div class="tab-block">
                                              <span class="checkbox">
                                                  <label>可簽帳</label>
                                                  <label class="checkbox-width">
                                                      <input name="form-field-checkbox" type="checkbox" class="ace">
                                                      <span class="lbl"></span>
                                                  </label>
                                              </span>
                                                <!--<input name="form-field-checkbox" type="checkbox" class="ace">-->
                                                <!--<input type="checkbox" disabled="disabled"/>-->
                                            </div>

                                            <div class="grid-item tab-block">
                                                <label>信用額度</label>
                                                <input type="number" class="input-medium medium-c1 input_sta_required text-right" />
                                            </div>
                                            <div class="grid-item tab-block">
                                                <label>收款方式</label>
                                                <select class="input-medium medium-c1">
                                                    <option value="-1">代號-名稱</option>
                                                    <option value="1">01-月結30天</option>
                                                    <option value="2">02-月結45天</option>
                                                    <option value="3">03-月結60天</option>
                                                    <option value="4">04-月結75天</option>
                                                </select>
                                            </div>
                                            <div class="grid-item tab-block">
                                                <label>目前簽帳金額</label>
                                                <input type="number" class="input-medium medium-c1 text-right" disabled="disabled" placeholder="0"/>
                                            </div>
                                            <div class="grid-item tab-block">
                                                <label>信用額度餘額</label>
                                                <input type="number" class="input-medium medium-c1 text-right" disabled="disabled" placeholder="123"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 col-xs-1">
                                    <div class="row">
                                        <button class="btn btn-primary btn-white btn-defaultWidth btn-lg-width"
                                                role="button">離開</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.信用額度變更 -->
                </div><!-- /.roomNumPlanPage -->
            </div>
        </div>
    </div><!-- /.main-content -->
    <%- include ../common/footer %>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->


</body>

<script type="text/javascript">
    $(function (){

        // 彈出SettingNewDialog
        $(document).on('click', ".changeCreditLimit", function (e) {
            e.preventDefault();
            var dialog = $("#changeCreditLimit-message").removeClass('hide').dialog({
                modal: true,
                title: "信用額度變更",
                title_html: true,
                width: 500,
                maxwidth: 1920,
//                autoOpen: true,
                dialogClass: "test",
                resizable: true
            });
        });


    });

    $(function(){
        $('#priceSetting').fixedHeaderTable({  cloneHeadToFoot: false,fixedColumns: 1 });
        //fixedColumns: 1

        // tree
        $("table").agikiTreeTable({persist: true, persistStoreName: "files"});

        // resize table
//        // divider margin 40px && fht-body -85px
        var header = $(".headBlock").height();
        height=$(window).height()-header-40;
        $(".height600").css("height", height);
        //		$(".height600").removeClass("height600");
        $(".fht-tbody").css("height", height-80);
        $(window).resize(function() {
            height=$(window).height()-header-40;
            $(".height600").css("height", height);
            $(".fht-tbody").css("height", height-80);
        });

        //$(document).on('click',".controlSub",function(e){
        //$('.sub-content').toggle();
        //});
    });
</script>


</html>