<h1><%= prg_id %></h1>
<style>
    select {
        color: #000000 !important;
    }

    input {
        color: #000000 !important;
    }

    body {
        background-color: #ffffff;
    }

    .input_sta_required {
        /*background-color: rgb(100, 218, 141) !important;*/
        background-color: rgb(198, 242, 217) !important;  /* (186, 242, 234) */
    }

    .input_sta_readonly {
        background-color: #dadada !important;
    }

    .btnUnable {
        background-color: #d2d2d2 !important;
        border-color: #d2d2d2 !important;
    }

    /* ---- grid ---- */

    .grid {
        /*background: #e8f1ff;*/
        /*  max-width: 1200px;*/
    }

    /* clearfix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    /* ---- grid-item ---- */
    .grid-item {
        /*width: 300px;*/
        margin-right: 10px;
        height: 40px;
        float: left;

    }
    .grid-item label {
        vertical-align: middle;
        text-align: right;
    }
    .grid-item-input {
        width: 100px;
        height: 50px;
    }

    .grid-item--width2 {
        width: 320px;
    }

    .grid-item--width3 {
        width: 480px;
    }

    .grid-item--width4 {
        width: 640px;
    }

    .grid-item--height2 {
        height: 200px;
    }

    .grid-item--height3 {
        height: 260px;
    }

    .grid-item--height4 {
        height: 360px;
    }

    .input {
        height: 50px;
    }
</style>

<div id="app">
    <input type="hidden" id="prg_id" value="<%= prg_id %>">
    <div class="row" style="margin-left: -5px;">
        <div class="col-xs-12">
            <div class="col-sm-11 col-xs-11">
                <div class="row">
                    <div class="" style="padding: 0 10px 0 5px; box-sizing: border-box; margin-left: -15px;">
                        <div style="float:left; min-width: 30px; max-width: 3%;">
                            <table id="dgCheckbox">
                                <thead>
                                <tr>
                                    <!--<th data-options="checkbox:true,field:'ck'"></th>-->
                                    <!-- data grid content-->
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div>
                            <table id="dg" 　>
                                <thead>
                                <tr>
                                    <!-- data grid content-->
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button id="ins-btn" @click="switchToCreateStatus"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button"><%= __("program")["PMS0810010"]["btn_insert"] %> </button>
                            </li>

                            <li>
                                <button id="remove-btn" @click="removeRow"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button"><%= __("program")["PMS0810010"]["btn_delete"] %></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- -->
    </div>
    <div class="clearfix"></div>
    <sigle-grid-dialog-tmp
            @close-single-grid-dialog="closeSingleGridDialog"
            @switch-to-create-status="switchToCreateStatus"
            @fetch-single-data="fetchSingleData"
            @do-save-cud="doSaveCUD"
            @combine-field = "combineField"
            :single-data="singleData"
            :page-two-field-data="pageTwoFieldData"
            :page-two-grid-field-data = "pageTwoGridFieldData"
            :create-status="createStatus"
            :edit-status="editStatus"
            :delete-status="deleteStatus"
            :editing-row="editingRow"
            :page-one-data-grid-rows="pageOneDataGridRows"
            :tmp-cud="tmpCUD"
            :modificable-for-data="modificableForData">
    </sigle-grid-dialog-tmp>
</div>

<!-- settingSingleDialog-message 彈出視窗 -->
<%- include ./vueTemplate/sigleGridDialogTmp.ejs %>

<script src="/js/setup/gridSingle.js"></script>
<script src="/js/vue/vue_datepicker.js"></script>
