<style>
    .errorTextArea {
        border-color: red;
        border-width: 2px;
    }
</style>
<script type="text/x-template" id="singleGridPMS0810190Tmp">
    <div id="singleGridPMS0810190" v-show="false" class="padding-5">
        <div class="col-sm-12 col-xs-12 singleGridContent">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <!-- Start Content -->
                    <form id="singleDataForm" method="post">
                        <div id="singleGridDiv" class="col-sm-11 col-xs-11 grid">
                            <div class="row reserveCheckMail">

                                <div class="grid">
                                    <div class="grid-item tab-block">
                                        <label class="totalMiddle">格式名稱</label>
                                        <input v-model="singleData.confirm_cod" class="input-medium checkMail totalMiddle"
                                               placeholder="訂房確認書-訂房公司"/>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item tab-block">
                                        <label>主旨</label>
                                        <input v-model="singleData.subject"
                                               class="input-medium checkMail"
                                               maxlength="4000"
                                               :class="{errorTextArea:lo_formatError.subject}"
                                               placeholder="[[%%ReservationComp%%]]訂房確認書"
                                               @keyup="keyUpContent('subject',$event)"
                                               @mouseup="mouseUpContent('subject',$event)"
                                               @change="checkContentFormat"/>


                                        <p v-show="lo_formatError.subject" style="color: red;margin-left: 95px;">格式錯誤！</p>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="grid-item tab-block block-item">
                                        <div class="block-item-content">
                                            <label class="pull-left">內容</label>
                                            <div class="relative pull-left">
                                                    <textarea
                                                            @keyup="keyUpContent('content',$event)"
                                                            @mouseup="mouseUpContent('content',$event)"
                                                            @change="checkContentFormat"
                                                            v-model="singleData.content"
                                                            maxlength="4000"
                                                            :class="{errorTextArea:lo_formatError.content}"
                                                            class="input-xxlarge margin-adjust"
                                                            rows="5">
                                                    </textarea>

                                                <p v-show="lo_formatError.content" style="color: red;">格式錯誤！</p>
                                                <p class="tip">請用Enter換行</p>
                                            </div>
                                            <!--<button type="button" @click="checkContentFormat"-->
                                            <!--class="btn btn-danger btn-white btn-sm btn-height btnCheck margin-adjust">-->
                                            <!--檢查-->
                                            <!--</button>-->
                                            <button type="button" class="btn btn-danger btn-white btn-sm btn-height">
                                                檢查
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="grid">
                                    <div class=" grid-item tab-block">
                                        <label class="pull-left">用途別</label>
                                        <div class="pull-left dropdown margin-adjust" align="left">
                                            <button class="btn btn-default btn-white dropdown-toggle btn-height" type="button"
                                                    id="menu1" data-toggle="dropdown">
                                                {{showSelectDisplay(singleData.use_cod)}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                                <li role="presentation" v-for="data in useCodList">
                                                    <a @click.prevent="singleData.use_cod = data.value" >
                                                        {{data.display}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-xs-12">
                                    <div class="row">

                                        <div class="grid">
                                            <div class=" grid-item tab-block block-item">
                                                <label style="width: 75px;">新增者</label>
                                                <span class="spaceColon">：</span>
                                                <input v-model="singleData.ins_usr" class="input-medium large-c1" type="text" disabled/>
                                            </div>

                                            <div class=" grid-item tab-block block-item">
                                                <label style="width: 75px;">新增日</label>
                                                <span class="spaceColon">：</span>
                                                <input v-model="singleData.ins_dat" class="input-medium large-c1" type="text" disabled/>
                                            </div>
                                        </div>

                                        <div class="grid">
                                            <div class=" grid-item tab-block block-item">
                                                <label style="width: 75px;">最後異動者</label>
                                                <span class="spaceColon">：</span>
                                                <input v-model="singleData.upd_usr" class="input-medium large-c1" type="text" disabled/>
                                            </div>

                                            <div class=" grid-item tab-block block-item">
                                                <label style="width: 75px;">最後異動日</label>
                                                <span class="spaceColon">：</span>
                                                <input v-model="singleData.upd_dat" :value="singleData.upd_dat | datetimeFormat" class="input-medium large-c1" type="text" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="space-6"></div>

                                <div class="changeChoice">
                                    <ul>
                                        <li style="cursor: pointer;" @click="insertFormatCont('[[%%ReservationNo%%]]')">訂房卡號</li>
                                        <li style="cursor: pointer;" @click="insertFormatCont('[[%%ContactMan%%]]')">聯絡人</li>
                                        <li style="cursor: pointer;" @click="insertFormatCont('[[%%FullName%%]]')">Full
                                            Name
                                        </li>
                                        <li style="cursor: pointer;" @click="insertFormatCont('[[%%CompName%%]]')">公司名稱</li>
                                        <li style="cursor: pointer;" @click="insertFormatCont('[[%%ReservationComp%%]]')">訂房公司</li>
                                    </ul>
                                </div>

                                <div class="tipWall">
                                    <p>代換字設定說明：</p>
                                    <ul>
                                        <li>1.將游標移至設定主旨或內容中需指定代換字位置，點選下方換字按鈕指定代換欄位資料</li>
                                        <li>2.代換字中不可在設定代換字</li>
                                        <li>3.點選檢查按鈕，可檢查設定之主旨或內容是否錯誤</li>
                                    </ul>
                                </div>

                            </div>
                        </div>


                    </form>
                    <!-- End Content -->

                    <!-- Control Panel -->
                    <div class="col-sm-1 col-xs-1 singleRelative">
                        <div class="row" v-if="isEditStatus">
                            <div class="singleEditStatus right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                :disabled="isFistData" @click="toFirstData">
                                            <%= __("SystemCommon").First %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                :disabled="isFistData" @click="toPreData">
                                            <%= __("SystemCommon").Previous %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                :disabled="isLastData" @click="toNextData">

                                            <%= __("SystemCommon").Next %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                :disabled="isLastData" @click="toLastData">
                                            <%= __("SystemCommon").Last %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-danger btn-white btn-defaultWidth" @click="$parent.removeData">
                                            <%= __("SystemCommon").Delete %>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- End Control Panel -->
                </div>
                <div class="clearfix"></div>
                <hr>

            </div>
            <div class="clearfix"></div>

            <!-- buttons -->
            <div class="col-sm-12 col-xs-12 center" id="dialogBtns" style="display: none;">
                <div class="singleRelative">
                    <div class="singleBtnBottom">
                        <button v-if="isCreateStatus" @click="$parent.toAddAfterSave"  class="btn btn-primary btn-white" style="margin-right: 5px;">
                            <%= __("SystemCommon").Add_after_save %>
                        </button>
                        <button v-if="isEditStatus" @click="$parent.toLeaveAfterSave" :disabled="isEditStatus && !$parent.modificableForRow "
                                class="btn btn-primary btn-white">
                            <%= __("SystemCommon").Leave_after_save %>
                        </button>
                        <button @click="$parent.doSave" :disabled="isEditStatus && !$parent.modificableForRow "
                                class="btn btn-primary btn-white">
                            <%= __("SystemCommon").Save %>
                        </button>
                        <button @click="$parent.closeSingleGridDialog" class="btn btn-primary btn-white">
                            <%= __("SystemCommon").Leave %>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</script>