<!-- 單檔彈出視窗 -->
<style>
    input[type=file] {
        display: none;
    }
</style>
<script type="text/x-template" id="sigleGridPMS0810020Tmp">
    <div id="singleGridPMS0810020" v-show="false">
        <div class="col-sm-12 col-xs-12 singleGridContent">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <!-- Start Content -->
                    <form id="singleDataForm" method="post">
                        <div id="singleGridDiv" class="col-sm-11 col-xs-11 grid">
                            <div class="row" v-for="fields in pageTwoFieldData">
                                <div class="grid-item " v-for="field in fields">
                                    <label :style="{width:field.label_width + 'px'}"
                                           v-if="field.visiable == 'Y'">
                                        <span v-if=" field.requirable == 'Y' " style="color: red;">*</span>
                                        <a @click="editFieldMultiLang(field)" v-if="field.multi_lang_table != ''">
                                            {{field.ui_field_name}}
                                        </a>
                                        <span v-else>{{field.ui_display_name}} </span>
                                    </label>
                                    <span v-if="field.visiable == 'Y'"
                                          style="width: 15px; text-align: center;
                                          display: inline-block; min-width: 15px;">:</span>

                                    <!--  Text & Number -->
                                    <!--  number no spinner add class="numStyle-none" -->
                                    <input v-model="singleData[field.ui_field_name]"

                                           v-if="field.visiable == 'Y' &&
                                            (field.ui_type == 'text' ||
                                              field.ui_type == 'number' ||
                                               field.ui_type == 'date' ||
                                                 field.ui_type == 'datetime'    )"
                                           type="text"
                                           class="numStyle-none"
                                           :class="{'input_sta_required' : field.requirable == 'Y' ,date_picker: field.ui_type == 'date' ,  date_timepicker : field.ui_type == 'datetime' }"
                                           :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                           :required="field.requirable == 'Y'"
                                           :min="0"
                                           :maxlength="field.ui_field_length"
                                           :disabled="field.modificable == 'N'"
                                           @blur="chkFieldRule(field.ui_field_name,field.rule_func_name)"
                                    >


                                    <!-- 下拉選單 -->
                                    <span class="dropdown margin-adjust" align="left"
                                          :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                          :class="{'input_sta_required' : field.requirable == 'Y' }"
                                          v-if="field.visiable == 'Y' && field.ui_type == 'select'">
                                        <button :disabled="field.modificable == 'N'"
                                                :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                                class="btn btn-default btn-white dropdown-toggle btn-height"
                                                type="button"
                                                data-toggle="dropdown">
                                                {{ showDropdownDisplayName(singleData[field.ui_field_name] , field.selectData) }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation" v-for="opt in field.selectData">
                                                <a @click.prevent="singleData[field.ui_field_name] = opt.value">
                                                    {{opt.display}}
                                                </a>
                                            </li>
                                        </ul>
                                    </span>

                                    <input type="hidden"
                                           v-model="singleData[field.ui_field_name]"
                                           v-if="field.visiable == 'N'"/>
                                </div>
                            </div>

                            <el-upload v-if="editStatus" drag class="upload-demo" :file-list="displayFileList"
                                       list-type="picture" :auto-upload="false" :on-change="fileChange"
                                       :on-remove="fileRemove">
                                <el-button size="small" type="primary">載入顯示圖檔</el-button>
                                <div class="el-upload__text">將文字拖曳至此，或<em>點擊上傳</em></div>
                                <div slot="tip" class="el-upload__tip">只能上傳jpg/png文件，且不超過500kb</div>
                            </el-upload>
                        </div>
                    </form>
                    <!-- End Content -->

                    <!-- Control Panel -->
                    <div class="col-sm-1 col-xs-1 singleRelative">
                        <div class="row" v-if="editStatus">
                            <div class="singleEditStatus right-menu-co">
                                <ul>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                :disabled="isFistData"
                                                style="" @click="toFirstData"><%= __("SystemCommon").First %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                :disabled="isFistData"
                                                style="" @click="toPreData"><%= __("SystemCommon").Previous %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                :disabled="isLastData"
                                                style="" @click="toNextData"><%= __("SystemCommon").Next %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                :disabled="isLastData"
                                                style="" @click="toLastData"><%= __("SystemCommon").Last %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-danger btn-white btn-defaultWidth"
                                                @click="handleDeleteSingleData">
                                            <%= __("SystemCommon").Delete %>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                @click="uploadWebSite">
                                            上傳官網
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                @click="showRoomTypeStock">
                                            產生庫存
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn RoomNum-modal01-btn btn90px btn-primary btn-white btn-defaultWidth"
                                                @click="showRoomTypeSort">
                                            房型顯示排序
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- End Control Panel -->
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- buttons -->
        <div class="col-sm-12 col-xs-12 center" id="dialogBtns" style="display: none;">
            <div class="singleRelative">
                <div class="singleBtnBottom">
                    <button v-if="createStatus" class="btn btn-primary btn-white" style="margin-right: 5px;"
                            @click="doSaveGrid('addOther')">
                        <%= __("SystemCommon").Add_after_save %>
                    </button>
                    <button v-if="createStatus ||  editStatus" :disabled="editStatus && !modificableForData "
                            class="btn btn-primary btn-white" @click="doSaveGrid('closeDialog')">
                        <%= __("SystemCommon").Leave_after_save %>
                    </button>
                    <button v-if="editStatus" :disabled="editStatus && !modificableForData "
                            class="btn btn-primary btn-white"
                            @click="doSaveGrid('')">
                        <%= __("SystemCommon").Save %>
                    </button>
                    <button class="btn btn-primary btn-white" @click="emitCloseGridDialog">
                        <%= __("SystemCommon").Leave %>
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- 產生庫存dialog -->
        <el-dialog title="產生庫存" :visible.sync="dialogRmTypeStockVisible" size="tiny" :show-close="false"
                   :modal-append-to-body="false">
            <el-row>
                <el-col :span="12" :offset="6">
                    <el-form>
                        <el-form-item label="開始日期">
                            <el-date-picker
                                    v-model="begin_dat"
                                    type="date"
                                    placeholder="選擇日期"
                                    format="yyyy/MM/dd"
                                    :picker-options="pickerOptions0">
                            </el-date-picker>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12" :offset="6">
                    <el-form>
                        <el-form-item label="結束日期">
                            <el-date-picker
                                    v-model="end_dat"
                                    type="date"
                                    placeholder="選擇日期"
                                    format="yyyy/MM/dd"
                                    :picker-options="pickerOptions0">
                            </el-date-picker>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12" :offset="6">
                    <el-checkbox v-model="reset_qnt">一併重整庫存</el-checkbox>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12" :offset="6">
                    <span>房型庫存最大日期: </span><span>{{ maxRmStock }}</span>
                </el-col>
            </el-row>

            <div slot="footer" class="dialog-footer">
                <el-row>
                    <el-col :span="12" :offset="3">
                        <el-button @click="dialogRmTypeStockVisible = false">取 消</el-button>
                        <el-button type="primary" @click="genRmStockSave">确 定</el-button>
                    </el-col>
                </el-row>
            </div>
        </el-dialog>

        <!-- 房型顯示排序dialog -->
        <el-dialog title="房型顯示排序" :visible.sync="dialogShowRoomSortVisible" size="tiny" :show-close="false"
                   :modal-append-to-body="false">
            <template>
                <el-tabs v-model="tabName" type="card" @tab-click="tabChange">
                    <el-tab-pane label="ERP 順序" name="ERP">
                        <table width="100%" border="1">
                            <thead>
                            <tr>
                                <th>房型代號</th>
                                <th>房型名稱</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in erpSortData">
                                <td>{{item.room_cod}} {{testData}}</td>
                                <td>{{item.room_nam}}</td>
                                <td>
                                    <el-button type="button" size="small" class="el-icon-caret-top"
                                               @click="itemMove(index, index-1, erpSortData)" v-if="index != 0">
                                    </el-button>
                                    <el-button type="button" size="small" class="el-icon-caret-bottom"
                                               @click="itemMove(index, index+1, erpSortData)"
                                               v-if="index != erpSortData.length-1">
                                    </el-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </el-tab-pane>
                    <el-tab-pane label="官網顯示順序" name="webSite">
                        <table width="100%" border="1">
                            <thead>
                            <tr>
                                <th>房型代號</th>
                                <th>房型名稱</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in webSiteSortData">
                                <td>{{item.room_cod}} {{testData}}</td>
                                <td>{{item.room_nam}}</td>
                                <td>
                                    <el-button type="button" size="small" class="el-icon-caret-top"
                                               @click="itemMove(index, index-1, webSiteSortData)" v-if="index != 0">
                                    </el-button>
                                    <el-button type="button" size="small" class="el-icon-caret-bottom"
                                               @click="itemMove(index, index+1, webSiteSortData)"
                                               v-if="index != webSiteSortData.length-1">
                                    </el-button>
                                </td>
                                <td>
                                    <input type="checkbox" v-if="item.wrs_sort_cod != -1" name="{{item.room_cod}}">
                                    <input type="checkbox" v-else name="{{item.room_cod}}" checked>
                                    <!--<el-checkbox :key="item.wrs_sort_cod" v-if="item.wrs_sort_cod != -1" :name="" :checked="false" :true-label="-1"></el-checkbox>-->
                                    <!--<el-checkbox :key="item.wrs_sort_cod" v-else :checked="true"></el-checkbox>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </el-tab-pane>
                </el-tabs>

                <div slot="footer" class="dialog-footer">
                    <el-row>
                        <el-col :span="12" :offset="3">
                            <el-button @click="dialogShowRoomSortVisible = false">取 消</el-button>
                            <el-button type="primary" @click="rmCodSortSave">确 定</el-button>
                        </el-col>
                    </el-row>
                </div>
            </template>
        </el-dialog>

    </div>
    <!-- /.settingSingleDialog -->
</script>