<div class="page-content">

    <div class="row">
        <div class="page-header"></div><!-- /.page-header -->

        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-11 col-xs-11">
                    <div class="row no-margin-right">
                        <!--  依房型訂房 -->
                        <%- include PMS0100000_module/resvRoomTypeTable_1 %>
                        <!--  /.End 依房型訂房 -->
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button id="ins-btn"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">上一頁</button>
                            </li>
                            <li>
                                <button id="remove-btn"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">下一頁</button>
                            </li>
                            <li>
                                <button id="ins-btn"
                                        class="btn btn-primary btn-white btn-defaultWidth reservationDialog-1"
                                        role="button">訂房</button>
                            </li>
                            <li>
                                <button id="ins-btn"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">列印</button>
                            </li>
                            <li>
                                <button id="ins-btn"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">另存</button>
                            </li>
                            <li>
                                <button id="ins-btn"
                                        class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">專案訂房</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>
    </div>

    <!--  依房型訂房 彈出視窗內容-->
    <%- include PMS0100000_module/resvRoomTypeBtn_1 %>
    <!--  /.End 彈出視窗內容 -->

    <!--  依房型訂房 彈出視窗內容(ho 新增)-->
    <%- include PMS0100000_module/resvRoomTypeBtn_2 %>
    <!--  /.End 彈出視窗內容(ho 新增) -->

    <!--  依房型訂房 彈出視窗內容(jing 新增2)-->
    <%- include PMS0100000_module/resvRoomTypeBtn_3 %>
    <!--  /.End 彈出視窗內容 -->

</div>


<!--  訂房卡共用 initial js -->
<%- include PMS0100000_module/resv_includeJs %>
<!--  /.End 訂房卡共用 initial js  -->


