<div class="footer bacchus-footer">
    <div class="footer-inner">

        <!-- #section:basics/footer -->
        <!--<div class="footer-content">-->
            <!--<div class="login-img-footer">-->
                <!--<img src="/images/athena_logo.png" width="200">-->
            <!--</div>-->
            <!--<div class="footer-ul">-->
                <!--<ul>-->
                    <!--<li><a href="#"><%=__("BAC01P0130")["global_locations"]%></a></li>-->
                    <!--<li> &nbsp;|&nbsp; </li>-->
                    <!--<li><a href="#"><%=__("BAC01P0130")["csc"]%></a></li>-->
                    <!--<li> &nbsp;|&nbsp; </li>-->
                    <!--<li><a href="#"><%=__("BAC01P0130")["company_introduction"]%></a></li>-->
                    <!--<li> &nbsp;|&nbsp; </li>-->
                    <!--<li><a href="#"><%=__("BAC01P0130")["enterprise_mission"]%></a></li>-->
                    <!--<li> &nbsp;|&nbsp; </li>-->
                    <!--<li><a href="#"><%=__("BAC01P0130")["international_certification"]%></a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="copyright">-->
                    <!--<span>-->
                        <!--copyright@<%=new Date().getFullYear()%>-->
                    <!--</span>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /section:basics/footer -->
    </div>
</div>

<script>
    //TODO
    $("#sidebar-collapse").click();
    $("#sidebar-collapse").click();

    var url_hash = window.location.hash.replace("#","");
    if(!_.isEmpty(url_hash)){
        $("#setupMainContent").load("/setup/"+url_hash);
    }

    function loadProgram(prgram_url){
        location.href = prgram_url;
//        location.reload();
    }
</script>