<div class="navbar-container avbar-default  ace-save-state navbar-fixed-top nav-header" id="navbar-container">
    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
    </button>
    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left">
        <!-- #section:basics/navbar.layout.brand -->
        <div class="nav-header-inline">
            <div class="btn-group header-other-choice">
                <button data-toggle="dropdown" class="btn btn-info btn-white btn-sm dropdown-toggle"
                        aria-expanded="false">
                    <%= session.user.fun_hotel_name %>
                    <span class="ace-icon fa fa-angle-down icon-on-right"></span>
                </button>
                <ul class="dropdown-menu dropdown-info dropdown-menu-left">
                    <% session.user.hotels.forEach(function(hotel){ %>
                    <li>
                        <a href="javascript:void(0);"
                           onclick="changeHotelCod('<%= hotel.hotel_cod %>');"><%= hotel.hotel_nam %></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div><!-- /.nav-header-inline -->
        <div class="breadcrumbs pull-left" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="/systemOption">
                        <i class="ace-icon fa fa-home home-icon" style="color: #fff"></i>
                    </a>
                </li>
                <li class="123"><%= session.user["sys_name_" + session.locale] %></li>

            </ul><!-- /.breadcrumb -->
        </div> <!-- /.breadcrumbs -->
        <div class="clearfix"></div>
    </div>

    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="info">
                <span id="datetimeSpan"></span>
                | <span>  <%= session.user.usr_cname %>  </span>
                | <%=__("SystemCommon.LogOutTime")%> : <span id="timeLeft">  00 : 00   </span>
            </li>

            <!-- #section:basics/navbar.user_menu -->
            <li class="light-blue dropdown-modal">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="/images/user-icon.png" width="35" alt=""/>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="doLogout()">
                            <i class="ace-icon fa fa-power-off"></i>
                            <%= __("BAC01P0120")["logout"] %>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>

<!-- 逾時登出Modal -->
<div class="remodal" data-remodal-id="sessionModal">
    <h2>
        <%= __("SystemWarn").Idle_auto_logout %>
    </h2>
    <br>
    <button data-remodal-action="confirm" class="remodal-confirm"><%= __("SystemCommon").OK %></button>
</div>

<script>
    var g_socket = io.connect('/system');
    var gs_cookieExpires = '';
    var gf_chkSessionInterval;

    $(function () {
        updateCurrentDateTime();
        updateExpiresTime();
        setInterval(updateCurrentDateTime, 1000);
        setInterval(updateExpiresTime, 10000);
        $(document).on('closing', '.remodal', function (e) {
            doLogout();
        });
    })

    /**
     * 更新Session 時間
     */
    function updateExpiresTime() {
        $.post('/api/getSessionExpireTime', function (result) {
            if (result.session.cookie.expires !== gs_cookieExpires) {
                gs_cookieExpires = result.session.cookie.expires;
                clearInterval(gf_chkSessionInterval);
                doDownCount();
            }
        })
    }

    /**
     * 更新目前時間
     */
    function updateCurrentDateTime() {
        var datetime = moment(new Date()).format("YYYY/MM/DD A HH:mm:ss");
        $("#datetimeSpan").html(datetime);
    }

    /**
     * 倒數登出時間
     */
    function doDownCount() {
        let lastTimes = moment(gs_cookieExpires).diff(moment(), "seconds");
        gf_chkSessionInterval = setInterval(function () {

            var mm = String(Math.floor(lastTimes / 60));
            var ss = lastTimes % 60 >= 10 ? String(lastTimes % 60) : "0" + String(lastTimes % 60);
            $("#timeLeft").text(mm + ":" + ss);
            if (lastTimes > 0) {
                lastTimes--;
            } else {
                $('[data-remodal-id=sessionModal]').remodal().open();
                clearInterval(gf_chkSessionInterval);
            }

        }, 1000);
    }

    /**
     * 登出
     */
    function doLogout() {
        $.post("/cas/logout", function (data) {
            location.reload();
        });
    }

    /**
     * 換館別
     */
    function changeHotelCod(hotel_cod) {
        $.post("/changeHotelCod", {hotel_cod: hotel_cod}, function (data) {
            if (data.success) {
                location.reload();
            }
        })
    }

</script>