<div class="navbar-container avbar-default  ace-save-state navbar-fixed-top nav-header" id="navbar-container">
    <!-- #section:basics/sidebar.mobile.toggle -->
    <!--mobile 漢堡-->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"  style="display:none;">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
    </button>
    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left">
        <!-- #section:basics/navbar.layout.brand -->
        <div class="nav-header-inline">
            <div class="btn-group header-other-choice">
                <button data-toggle="dropdown" class="btn btn-info btn-white btn-sm dropdown-toggle"
                        aria-expanded="false">
                    <%= session.user.fun_hotel_name %>
                    <span class="ace-icon fa fa-angle-down icon-on-right"></span>
                </button>
                <ul class="dropdown-menu dropdown-info dropdown-menu-left">
                    <% session.user.hotels.forEach(function(hotel){ %>
                    <li>
                        <a href="javascript:void(0);"
                           @click="changeHotelCod('<%= hotel.hotel_cod %>');"><%= hotel.hotel_nam %></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div><!-- /.nav-header-inline -->
        <div class="breadcrumbs pull-left" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="/systemOption">
                        <i class="ace-icon fa fa-home home-icon" style="color: #fff"></i>
                    </a>
                </li>
                <li class="123">{{sysPrgPath}}</li>

            </ul><!-- /.breadcrumb -->
        </div> <!-- /.breadcrumbs -->
        <div class="clearfix"></div>
    </div>

    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="info">
                <span id="datetimeSpan"></span>
                | <span>  <%= session.user.usr_cname %>  </span>
                | <%= __("SystemCommon.LogOutTime") %> : <span id="timeLeft">00:00:00</span>
            </li>

            <!-- #section:basics/navbar.user_menu -->
            <li class="light-blue dropdown-modal">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="/images/user-icon.png" width="35" alt=""/>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close dropdown-rz">
                    <li class="divider"></li>
                    <li>
                        <a @click="doEditPassword">
                            <i class="ace-icon fa fa-power-off"></i>
                            <%= __("BAC01P0120")["editPwd"] %>
                        </a>
                    </li>
                    <li>
                        <a @click="doLogout">
                            <i class="ace-icon fa fa-power-off"></i>
                            <%= __("BAC01P0120")["logout"] %>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="clearfix"></div>
</div>