<div class="col-xs-12 top-sec-ul breadcrumbs-fixed">

    <div class="top-ul">
        <ul id="subsysUl">
            <%   var la_quickMenu = []; %>
            <% session.user.subsysMenu.forEach(function(sysItem){ %>
            <%
                var activeClass = "";
                var subsys_url = "";
                if(current_subsys_id == sysItem.subsys_id){
                    activeClass ='active-01';
                    la_quickMenu = sysItem.quickMenu || [];
                }

                switch (sysItem.subsys_id ) {
                    case 'PMS0600000':
                        subsys_url = '/businessCompanyData'
                        break;
                    case 'PMS0800000':
                        subsys_url = '/subsystem/setup'
                        break;
                }
            %>
            <li class="<%= activeClass %>">
                <a href="<%= subsys_url %>" style="color:#FFFFFF;">
                    <%= sysItem["subsys_nam_" + session.locale] %>
                </a>
            </li>
            <% }) %>
        </ul>
    </div> <!-- /.top-ul -->
    <!-- Quick menu  -->
    <div class="secondMenu-ul secondMenuClick ">
        <ul id="quickMenuUl">
        <% la_quickMenu.forEach(function(quick){%>
            <li  onclick="loadProgram('<%=quick.pro_url%>')">
                <%= quick["pro_name_"+session.locale] %>
            </li>
        <%})%>
        </ul>
    </div> <!-- /.secondMenuUl -->


</div>