<div id="datagridApp">
    <div class="col-xs-12">
        <div class="row">
            <label id="prg_Id" class="prg_idLbH3"><%= prg_id %></label>
        </div>
    </div>

    <!-- 查詢 -->
    <search-comp
            :search-fields="searchFields"
            :search-cond.sync="searchCond"
            :fetch-data="fetchDataGridData">
    </search-comp>

    <div class="col-xs-12" v-show="!isTableLock" v-loading="isLoading" element-loading-text="Saving...">
        <div class="row">
            <div class="col-sm-11 col-xs-11">
                <div class="row no-margin-right">
                    <div class="" style="padding: 0; box-sizing: border-box;">

                        <!--控制table 高度 jing add-->
                        <table id="prg_dg" class="prg_dgHt"></table>

                    </div>
                </div>
            </div>

            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth purview_btn"
                                        data-purview_func_id="<%=prg_id%>0200"
                                        @click="appendRow">
                                    <%= __("SystemCommon").Add %>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-danger btn-white btn-defaultWidth purview_btn"
                                        data-purview_func_id="<%= prg_id %>0300"
                                        @click="removeRow();">
                                    <%= __("SystemCommon").Delete %>
                                </button>
                            </li>
                            <li>
                                <button id="save-btn" class="btn btn-primary btn-white btn-defaultWidth"
                                        @click="doSave();"
                                        role="button">
                                    <%= __("SystemCommon").Save %>
                                </button>
                            </li>
                            <li>
                                <button @click="loadChangeLog" class="btn btn-primary btn-white btn-defaultWidth"
                                        role="button">
                                    <%= __("SystemCommon").ChangeLog %>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.col-sm-12 -->

    <multi-lang-dialog-tmp
            @update-multi-lang-dg="updateMultiLangDG"
            @end-multi-lang-editing="endMultiLangEditing"
            @temp-exec-data="tempExecData"
            :sys_locales="sys_locales"
            :prg-field-data-attr="prgFieldDataAttr">
    </multi-lang-dialog-tmp>

    <!-- 異動紀錄 -->
    <el-dialog title=" <%= __("SystemCommon").ChangeLog %>" :close-on-click-modal="true" :show-close="false"
               :visible.sync="openChangeLogDialog" size="large" class="openChangeLogDialog">

        <div class="col-xs-12">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="fixHeadTable">
                        <div class="tbl-header02">
                            <table class=" custab">
                                <thead class="custab-head">
                                <tr>
                                    <th class="width-15 text-center">Time</th>
                                    <th class="width-10 text-center">User</th>
                                    <th class="width-15 text-center">Action Type</th>
                                    <th class="width-20 text-center">Description MN</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content02" style="">
                            <table class="custab">

                                <tbody class="custab-body" style="height: 250px; overflow-y: auto;">
                                <tr v-for="logData in allChangeLogList">
                                    <td class="width-15">{{logData.event_time}}</td>
                                    <td class="width-10">{{logData.user}}</td>
                                    <td class="width-15"><span v-for="keyData in logData.keys">{{keyData}}<br></span>
                                    </td>
                                    <td class="width-20">
                                        <div class="blue bold" style="text-transform: capitalize;">{{logData.action }}
                                        </div>
                                        <span v-for="mnData in logData.desc_mn">
                                        {{mnData.field_name}} :
                                        {{mnData.oldVal}}
                                        <span v-if="logData.action == 'update'"> →  </span>
                                        {{mnData.newVal}}
                                        <br>
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <script>
                        // console.log(navigator.userAgent);
                        // 判斷如果不是window 不執行(判斷瀏覽器js在include.js)
                        // 0822 有些mac的scrollBar 會推，有些不會(jun會)
                        // if(navigator.userAgent.indexOf("Window") !=-1){

                        // var fixHeadTableH = $(window).height() - 350;
                        // $('.tbl-content02').css({'height': fixHeadTableH});
                        // alert(fixHeadTableH);


                        // 異動紀錄 偵測高度(掛外面無法正常運作)
                        var tblContentHt = $(window).height() - 270;
                        $('.tbl-content02').css({'height': tblContentHt});
                        $(window).resize(function () {
                            var scrollWidth = $('.tbl-content02').width() - $('.tbl-content02 table').width();
                            $('.tbl-header02').css({'padding-right': '17px'});
                            var fixHeadTableH = $(window).height() - 20;
                            // 異動紀錄 偵測高度
                            var tblContentHt = $(window).height() - 270;
                            $('.tbl-content02').css({'height': tblContentHt});
                        });
                        //                        }
                        // /.end 判斷如果不是window不執行

                    </script>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>

        <span slot="footer" class="dialog-footer">
             <el-button @click="openChangeLogDialog = false">確定</el-button>
         </span>
    </el-dialog>

</div>
<div type="hidden" id="gridEdit" name="gridEdit"></div>
<div class="clearfix"></div>
<%- include vueTemplate/multiLangDialogTmp.ejs %>
<%- include vueTemplate/searchTmp.ejs %>

<script src="/js/initResizeHt.js"></script>
<script src="/js/setup/vueCompLib/searchComp.js"></script>
<script src="/js/setup/datagrid.js"></script>
