<div id="DGApp">

    <div class="col-xs-12">
        <div class="row">
            <label id="prg_Id" class="prg_idLbH3"><%= prg_id %></label>
        </div>
    </div>

    <!-- 查詢 -->
    <div class="col-xs-12" v-if="searchFields.length > 0 ">
        <div class="search-content">
            <div class="search-co">
                <div class="search-co-h">
                    <i class="ace-icon fa fa-search search-icon"></i>
                    <span>Search</span>
                    <div class="row search-right-btn">
                        <div class="right-btn-menu-co">
                            <ul>
                                <li>
                                    <i class="fa fa-chevron-down show-search-detail"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                        <div class="row search-footer-btn">
                            <div class="footer-btn-menu-co">
                                <ul>
                                    <li>
                                        <div class="" data-rel="tooltip" data-placement="bottom"
                                             title="查詢" @click="fetchDataGridData()">
                                            <div class="icon-reStyle icon-co-14"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="" data-rel="tooltip" data-placement="bottom"
                                             title="清除" @click="searchCond = {}">
                                            <div class="icon-reStyle icon-co-11"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="width-95">
                            <div class="grid" v-for="searchFieldList in searchFieldsByRow">
                                <div class="grid-item" v-for="field in searchFieldList">
                                    <label>{{field.ui_display_name}}</label>
                                    <template v-if="field.ui_type == 'text' || field.ui_type == 'number'">
                                        <input v-model="searchCond[field.ui_field_name]" :type="field.ui_type"
                                               class="numStyle-none"
                                               :style="{width:field.width + 'px' , height:field.height + 'px'}"
                                               min="0"
                                               :required="field.requirable == 'Y'"/>
                                    </template>

                                    <template v-if="field.ui_type == 'select' ||field.ui_type == 'multiselect' ">
                                        <el-select v-model="searchCond[field.ui_field_name]"
                                                   multiple="field.ui_type == 'multiselect'" size="small">
                                            <el-option v-for="item in field.selectData" :key="item.value"
                                                       :label="item.display" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>

                                    <template v-if="field.ui_type == 'date' ||field.ui_type == 'datetime' ">
                                        <el-date-picker v-model="searchCond[field.ui_field_name]" size="small"
                                                        :format="field.ui_type == 'date' ? 'yyyy/MM/dd': 'yyyy/MM/dd HH:mm:ss'"
                                                        :type="field.ui_type == 'date' ? 'date': 'datetime'" placeholder="">
                                        </el-date-picker>
                                    </template>

                                    <template v-if="field.ui_type == 'radio'">
                                        <el-radio class="radio"
                                                  v-model="searchCond[field.ui_field_name]"
                                                  v-for="item in field.selectData" :label="item.value">
                                            {{item.display}}
                                        </el-radio>
                                    </template>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

    <div class="col-xs-12" v-show="!isTableLock">
        <div class="col-sm-11 col-xs-11">
            <div class="row no-margin-right">
                <div class="" style="padding: 0; box-sizing: border-box; margin-left: -15px;">

                    <!--控制table 高度 jing add-->
                    <table id="prg_dg" style="height: 400px;">
                        <thead>
                        <tr>

                            <!-- data grid content-->

                        </tr>
                        </thead>
                    </table>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-1 col-sm-1">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <li>
                            <button id="ins-btn" :disabled="saving" class="btn btn-primary btn-white btn-defaultWidth"
                                    @click="appendRow"
                                    role="button">
                                <%= __("SystemCommon").Add %>
                            </button>
                        </li>
                        <li>
                            <button id="remove-btn" :disabled="saving"
                                    class="btn btn-danger btn-white btn-defaultWidth"
                                    @click="removeRow();"
                                    role="button">
                                <%= __("SystemCommon").Delete %>
                            </button>
                        </li>
                        <li>
                            <button id="save-btn" :disabled="saving" class="btn btn-primary btn-white btn-defaultWidth"
                                    @click="doSave();"
                                    role="button">
                                <%= __("SystemCommon").Save %>
                            </button>
                        </li>
                        <li>
                            <button @click="loadChangeLog" class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">
                                <%= __("SystemCommon").ChangeLog %>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- /.col-sm-12 -->

    <multi-lang-dialog-tmp
            @update-multi-lang-dg="updateMultiLangDG"
            @end-multi-lang-editing="endMultiLangEditing"
            @temp-exec-data="tempExecData"
            :sys_locales="sys_locales"
            :prg-field-data-attr="prgFieldDataAttr">
    </multi-lang-dialog-tmp>

    <el-dialog title=" <%= __("SystemCommon").ChangeLog %>" :close-on-click-modal="true" :show-close="false" :visible.sync="openChangeLogDialog" size="large" >

        <div class="col-xs-12">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="fixHeadTable">
                        <div class="tbl-header">
                            <table class=" custab">
                                <thead class="custab-head">
                                <tr>
                                    <th class="width-15 text-center">Time</th>
                                    <th class="width-10 text-center">User</th>
                                    <th class="width-15 text-center">Action Type</th>
                                    <th class="width-20 text-center">Description MN</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content" style="height: 300px;">
                            <table class=" custab">

                                <tbody class="custab-body" style="height: 250px; overflow-y: auto;">
                                <tr v-for="logData in allChangeLogList">
                                    <td class="width-15">{{logData.event_time}}</td>
                                    <td class="width-10">{{logData.user}}</td>
                                    <td class="width-15"><span v-for="keyData in logData.keys">{{keyData}}<br></span></td>
                                    <td class="width-20">
                                        <div class="blue bold" style="text-transform: capitalize;">{{logData.action }}</div>
                                        <span v-for="mnData in logData.desc_mn">
                                        {{mnData.field_name}} :
                                        {{mnData.oldVal}}
                                        <span v-if="logData.action == 'update'"> →  </span>
                                        {{mnData.newVal}}
                                        <br>
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <script>
//                        console.log(navigator.userAgent);
                        //判斷如果不是window 不執行(判斷瀏覽器js在include.js)
                        //0822 有些mac的scrollBar 會推，有些不會(jun會)
//                        if(navigator.userAgent.indexOf("Window") !=-1){
                            $(window).on("load resize ", function() {
                                var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
                                $('.tbl-header').css({'padding-right':'17px'});
                                var fixHeadTableH = $('.el-dialog__body .col-xs-12').height()-20;
                            }).resize();
//                        }
                        // /.end 判斷如果不是window不執行

                    </script>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>

        <span slot="footer" class="dialog-footer">
             <el-button @click="openChangeLogDialog = false">確定</el-button>
         </span>
    </el-dialog>

</div>
<div type="hidden" id="gridEdit" name="gridEdit"></div>
<div class="clearfix"></div>
<script type="text/javascript">
    var gs_prg_id = '<%= prg_id %>';
</script>
<%- include vueTemplate/multiLangDialogTmp.ejs %>

<script src="/js/setup/datagrid.js"></script>
