<link rel="stylesheet" href="/css/setup/gridSingle.css">
<div id="GSApp">
    <div class="col-xs-12">
        <div class="row">
            <label id="prg_Id" class="prg_idLbH3"><%= prg_id %></label>
        </div>
    </div>

    <!-- 查詢 -->
    <search-comp
            :search-fields="searchFields"
            :search-cond.sync="searchCond"
            :fetch-data="loadDataGridByPrgID">
    </search-comp>

    <input type="hidden" id="prg_id" value="<%= prg_id %>" style="border: 0px">
    <!--<div class="row" style="margin-left: -5px;">-->
    <div class="col-xs-12">
        <div class="col-sm-11 col-xs-11">
            <div class="row no-margin-right">
                <div class="" style="padding: 0; box-sizing: border-box; margin-left: -15px;">
                    <div style="float:left; min-width: 30px; max-width: 3%;">
                        <table id="dgCheckbox"></table>
                    </div>
                    <div>
                        <table id="dg"></table>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="col-xs-1 col-sm-1">
            <div class="row">
                <div class="right-menu-co">
                    <ul>
                        <li>
                            <button id="ins-btn" @click="appendRow"
                                    class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">
                                <%= __("SystemCommon").Add %>
                            </button>
                        </li>

                        <li>
                            <button id="remove-btn" @click="removeRow"
                                    class="btn btn-danger btn-white btn-defaultWidth"
                                    role="button">
                                <%= __("SystemCommon").Delete %>
                            </button>
                        </li>
                        <li>
                            <button @click="loadChangeLog" class="btn btn-primary btn-white btn-defaultWidth"
                                    role="button">
                                <%= __("SystemCommon").ChangeLog %>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- -->
    <!--</div>-->
    <div class="clearfix"></div>
    <sigle-grid-dialog-tmp
            @close-single-grid-dialog="closeSingleGridDialog"
            @append-row="appendRow"
            @fetch-single-data="fetchSingleData"
            @do-save-cud="doSaveCUD"
            @combine-field="combineField"
            :single-data="singleData"
            :page-two-field-data="pageTwoFieldData"
            :page-two-data-grid-field-data="pageTwoDataGridFieldData"
            :create-status="createStatus"
            :edit-status="editStatus"
            :delete-status="deleteStatus"
            :editing-row="editingRow"
            :page-one-data-grid-rows="pageOneDataGridRows"
            :tmp-cud="tmpCud"
            :modificable-for-data="modificableForData"
            :dialog-visible="dialogVisible">
    </sigle-grid-dialog-tmp>

    <field-multi-lang-dialog-tmp
            :sys_locales="sys_locales"
            :single-data="singleData">
    </field-multi-lang-dialog-tmp>

    <multi-lang-dialog-tmp
            :sys_locales="sys_locales"
            :dt-multi-lang-field="dtMultiLangField">
    </multi-lang-dialog-tmp>

    <text-select-grid-dialog-tmp></text-select-grid-dialog-tmp>


    <!-- 異動紀錄 -->
    <el-dialog title=" <%= __("SystemCommon").ChangeLog %>" :close-on-click-modal="true" :show-close="false"
               :visible.sync="openChangeLogDialog" size="large">

        <div class="col-xs-12">
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="fixHeadTable">
                        <div class="tbl-header">
                            <table class=" custab">
                                <thead class="custab-head">
                                <tr>
                                    <th class="width-15 text-center">Time</th>
                                    <th class="width-10 text-center">User</th>
                                    <th class="width-15 text-center">Action Type</th>
                                    <th class="width-20 text-center">Description MN</th>
                                    <th class="width-20 text-center">Description DT</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content" style="height: 300px;">
                            <table class=" custab">

                                <tbody class="custab-body" style="height: 250px; overflow-y: auto;">
                                <tr v-for="logData in allChangeLogList">
                                    <td class="width-15">{{logData.event_time}}</td>
                                    <td class="width-10">{{logData.user}}</td>
                                    <td class="width-15"><span v-for="keyData in logData.keys">{{keyData}}<br></span>
                                    </td>
                                    <td class="width-20">
                                        <div class="blue bold" style="text-transform: capitalize;">{{logData.action }}
                                        </div>
                                        <span v-for="mnData in logData.desc_mn">
                                        {{mnData.field_name}} :
                                        {{mnData.oldVal}}
                                        <span v-if="logData.action == 'update'"> →  </span>
                                        {{mnData.newVal}}
                                        <br>
                                    </span>
                                    </td>
                                    <td class="width-20"> N/A </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <script>
                        //                        console.log(navigator.userAgent);
                        //判斷如果不是window 不執行(判斷瀏覽器js在include.js)
                        //0822 有些mac的scrollBar 會推，有些不會(jun會)
                        //                        if(navigator.userAgent.indexOf("Window") !=-1){
                        $(window).on("load resize ", function () {
                            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
                            $('.tbl-header').css({'padding-right': '17px'});
                            var fixHeadTableH = $('.el-dialog__body .col-xs-12').height() - 20;
                        }).resize();
                        //                        }
                        // /.end 判斷如果不是window不執行

                    </script>
                </div>
            </div>
        </div> <!-- /.col-sm-12 -->
        <div class="clearfix"></div>

        <span slot="footer" class="dialog-footer">
             <el-button @click="openChangeLogDialog = false">確定</el-button>
         </span>
    </el-dialog>
</div>

<!-- settingSingleDialog-message 彈出視窗 -->
<%- include vueTemplate/chooseDataDialogTmp.ejs %>
<%- include vueTemplate/searchTmp.ejs %>
<%- include vueTemplate/sigleGridDialogTmp.ejs %>
<%- include vueTemplate/fieldmultiLangDialogTmp.ejs %>
<%- include vueTemplate/multiLangDialogTmp.ejs %>

<script src="/js/setup/vueCompLib/searchComp.js"></script>
<script src="/js/setup/datagrid.js"></script>
<script src="/js/setup/gridSingle.js"></script>

