<!DOCTYPE html>
<html lang="en">
<%- include ../../common/head %>
<%- include ../../common/importFiles %>

<body class="no-skin" id="app">

<%- include ../../common/navbar.ejs %>

<div class="main-container ace-save-state" id="main-container" style="margin-top: 35px;">

    <div id="sidebar" class="sidebar responsive ace-save-state sidebar-fixed">
        <%- include('../../common/moduleMenu',{module:'front_desk_conf' ,current_subsys_id:'PMS0800000',pro_id:mdl_id}) %>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <%- include('../../common/subsysMenu',{current_subsys_id:'PMS0800000',pro_id:mdl_id}) %>
            <div id="MainContentDiv" class="page-content">
                <!-- 主內容 -->
                <div class="controlReservation">
                    <div class="page-header">
                    </div><!-- /.page-header -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- #section:elements.tab.position -->
                                                    <div class="tabbable tabs-left">
                                                        <ul class="nav nav-tabs" id="settingUl">
                                                            <li :class="{active: usingPrgID == 'PMS0810070'}">
                                                            <a
                                                            @click="loadSetUpPage('PMS0810070')"
                                                            href="javascript:void(0)">
                                                                假日日期設定
                                                            </a>
                                                            </li>
                                                            <li v-for="proc in prosList"
                                                                :class="{active: usingPrgID == proc.pro_id}">
                                                                <a
                                                                        @click="loadSetUpPage(proc.pro_id)"
                                                                        href="javascript:void(0)">
                                                                    {{proc['pro_name_<%= session.locale %>']}}
                                                                </a>
                                                            </li>

                                                        </ul>
                                                        <div class="tab-content">
                                                            <!-- 對照檔內容 -->
                                                            <div id="prgContentDiv" v-show="!isTableLocked"
                                                                 style="overflow-x: hidden;display: none;"
                                                                 class="tab-pane in active">
                                                            </div>

                                                            <!-- table lock 訊息 -->
                                                            <div align="center" v-show="isTableLocked"
                                                                 style="display: none;">
                                                                <p>
                                                                    <image width="64" src="/images/lock.png"/>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 2em !important;"> {{tableLockMsg}} </span>
                                                                </p>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- /.main-content -->
    <%- include ../../common/footer %>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

</body>

</html>

<script>
    var url_hash = window.location.hash.replace("#", "");
    if (!_.isEmpty(url_hash)) {
        $("#MainContentDiv").load(url_hash);
    }
    var gs_mdl_id = '<%= mdl_id %>';
    var socket = io.connect('/setup');
    var userInfo = <%- JSON.stringify(session.user) %>;

    var vmMain = new Vue({
        el: '#main-container',
        data: {
            setupMenu: [],  //此模組的設定檔
            isTableLockProcessing: true,  //打API 上鎖程序是否正在執行
            usingPrgID: "",  //使用中的prg_id
            isTableLocked: false,// 是否被上鎖中
            tableLockMsg: "",// 上鎖訊息
            userInfo:<%- JSON.stringify(session.user || {}) %>,
            prosList: []
        },
        mounted: function () {
            //偵測離開頁面
            $(window).on('beforeunload', function () {
                if (!_.isEmpty(vmMain.usingPrgID)) {
                    return vmMain.doTableUnLock();
                }

            });

            this.loadProcess();
        },
        watch: {},
        methods: {
            //打開第一個對照檔
            doFirstPrg: function () {
                if (this.prosList.length > 0) {
                    this.loadSetUpPage(vmMain.prosList[0].pro_id);
                }
            },
            //讀取此Module 所有對照檔
            loadProcess: function () {
                this.prosList = [];

                $.post("/api/getGroupMdlPros", {mdl_id: gs_mdl_id}, function (result) {

                    if (result.success) {
                        vmMain.prosList = result.prosList;
                        vmMain.doFirstPrg();

                    }
                });
            },
            //讀取網頁程式頁面
            loadSetUpPage: function (this_prg_id) {
                var oldPrgId = this.usingPrgID;
                var datagridEdit = $("#gridEdit").val();
                if (!_.isEmpty(datagridEdit)) {
                    if (datagridEdit.createData.length > 0 || datagridEdit.deleteData.length > 0 || datagridEdit.updateData.length > 0) {
                        if (!confirm("有異動過資料，請問是否離開?")) {
                            //event.preventDefault();
                            $("#" + oldPrgId).addClass('active');
                            $('#' + this_prg_id).removeClass('active');
                            return;
                        }
                    }
                }
               this.usingPrgID = this_prg_id;  //TODO 方便開發不lock 2017/04/25
                waitingDialog.show(go_i18nLang.SystemCommon.Loading);
                $("#prgContentDiv").empty();
                this.isTableLocked = false;

                //判斷是否要Unlock
                if (!_.isEmpty(this.usingPrgID) && !_.isEqual(this_prg_id, this.usingPrgID)) {
                    this.isTableLockProcessing = true;
                    this.doTableUnLock(function (errorMsg, success) {
                        this.isTableLockProcessing = false;
//                        console.log("解開lock:" + vmMain.usingPrgID);
                        vmMain.isTableLocked = false;
                    })
                }


                /** 把dialog 在div產生的html 刪除, 不然會導致另一個對照檔開錯dialog **/
                $(".panel.window").remove();
                $(".window-shadow").remove();
                $(".window-mask").remove();

                $("#multiLangDialogTmp").remove();

                if (!_.isEmpty(this.usingPrgID) && _.isEqual(this_prg_id, this.usingPrgID)) {
                    $("#prgContentDiv").load('/mainSetUp/' + this_prg_id + "?_r=" + (new Date()).getTime());

                } else {
                    this.isTableLockProcessing = true;
                    this.doTableLock(this_prg_id);
                }

            },
            //資料表上鎖
            doTableLock: function (prg_id) {
                socket.emit('handleTableLock', {
                    'prg_id': prg_id,
                    'user': userInfo
                })
            },
            //資料表解鎖
            doTableUnLock: function (callback) {
                socket.emit('handleTableUnlock', {
                    'prg_id': vmMain.usingPrgID,
                    'user': userInfo
                })
                callback(null, true);
            }
        }
    })

    //Lock 結果
    socket.on('checkTableLock', function (result) {
        vmMain.isTableLockProcessing = false;
        vmMain.isTableLocked = !result.success;
        vmMain.tableLockMsg = result.errorMsg;
        vmMain.isTableLockProcessing = false;
        if (!vmMain.isTableLocked) {
            vmMain.usingPrgID = result.prg_id.trim();  //確實是此使用者鎖上的才能註冊這個prg_id
            $("#prgContentDiv").empty().load('/mainSetUp/' + result.prg_id);
            waitingDialog.hide();
        } else {
            vmMain.usingPrgID = "";
            waitingDialog.hide();
        }
    })
</script>