<!--page-content-->
<div>
    <div class="page-header"></div><!-- /.page-header -->
    <!-- 住客帳維護 Page-->
    <div class="row">
        <!-- search content -->
        <div class="col-xs-12">
            <!--<div class="col-xs-11">-->
                <!--<div class="row no-margin-right">-->
                    <div class="search-content">
                        <!--測試修改，寬變矮 文字變小 class="search-co-h" li style="padding: 0 5px;"-->
                        <div class="search-co">
                            <div class="search-co-h">
                                <i class="ace-icon fa fa-search search-icon"></i>
                                <span>Search</span>
                                <div class="row search-right-btn">
                                    <div class="right-btn-menu-co">
                                        <ul>
                                            <li>
                                                <i class="fa fa-chevron-down show-search-detail"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="search-co-content col-xs-12">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                                <div class="search-co-content col-xs-12 rece-search-detail" style="display: none;">
                                    <div class="row search-footer-btn">
                                        <div class="footer-btn-menu-co">
                                            <ul>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="查詢">
                                                        <div class="icon-reStyle icon-co-14"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="" data-rel="tooltip" data-placement="bottom" title="清除">
                                                        <div class="icon-reStyle icon-co-11"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>  <!-- /.footer-btn-menu-co -->
                                    </div> <!-- /.search-footer-btn -->
                                    <div class="width-95">
                                        <!--1-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Room Num.</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="" >
                                            </div>
                                            <div class="grid-item">
                                                <label>Master Num.</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--2-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Full Name</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col4Key" placeholder="">
                                            </div>
                                            <div class="searchCheckbox pull-left">
                                                <span class="checkbox">
                                                  <label class="checkbox-width">
                                                      <input name="form-field-checkbox" type="checkbox" class="ace" checked>
                                                      <span class="lbl">keyword</span>
                                                  </label>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!--3-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Rv. Num.</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col4" placeholder="全部">
                                            </div>
                                        </div>
                                        <!--4-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>C/I Date</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                            <div class="grid-item">
                                                <label>C/O Date</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col2" placeholder="">
                                            </div>
                                        </div>
                                        <!--5-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Company</label>
                                                <input type="text" class="input-medium popWindow-s1v2-col4" placeholder="">
                                            </div>
                                        </div>
                                        <!--6-->
                                        <div class="grid">
                                            <div class="grid-item">
                                                <label>Folio Status</label>
                                                <select class="input-medium popWindow-s1v2-col4">
                                                    <option value="1">Folio Status</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div> <!-- row-->
                        </div> <!-- /.search-co -->
                    </div> <!-- /.row  search-content-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="clearfix"></div>

        <!-- main content -->

        <!--<div class="row">-->
        <div class="col-xs-12">
            <div class="col-xs-11 col-sm-11">
                <div class="row no-margin-right">

                    <div class="gridTableHt">
                        <!-- 住客帳維護_多筆 cashier_GstLedgerMulti dataGrid -->
                        <table id="cashier_GstLedgerMulti-table"></table>
                    </div>
                </div>
            </div>

            <div class="col-xs-1 col-sm-1">
                <div class="row">
                    <div class="right-menu-co">
                        <ul>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth cashier_openCashAcc"
                                        role="button">開立現金帳</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth cashierGstLedger_Single"
                                        role="button">Billing</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth "
                                        role="button">Group</button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-white btn-defaultWidth foCnt_editCoDate"
                                        role="button">Edit C/ODate</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--  cashier 彈出視窗內容-->
    <%- include cashier_module/cashier_Btn_1.ejs %>
    <!--  /.End 彈出視窗內容 -->

    <!--  接待 彈出視窗內容-->
    <%- include ../frontDesk/frontDesk_module/frontDesk_Btn_1.ejs %>
    <!--  /.End 接待 彈出視窗內容 -->

    <!--  接待 彈出視窗內容-->
    <%- include ../frontDesk/frontDesk_module/frontDesk_Btn_2.ejs %>
    <!--  /.End 接待 彈出視窗內容 -->

    <!--  房務 彈出視窗內容-->
    <%- include ../houseKeeping/houseKeeping_module/houseKeeping_Btn_1.ejs %>
    <!--  /.End 房務 彈出視窗內容 -->

</div>
<!-- /.page-content -->

<!--  cashier共用 initial js -->
<%- include cashier_module/cashier_includeJs.ejs %>
<!--  /.End cashier共用 initial js  -->

<!--  接待 共用 initial js-->
<%- include ../frontDesk/frontDesk_module/frontDesk_includeJs.ejs %>
<!--  /.End 接待 共用 initial js -->

<!--  房務 彈出視窗內容-->
<%- include ../houseKeeping/houseKeeping_module/houseKeeping_includeJs.ejs %>
<!--  /.End 房務 彈出視窗內容 -->

